@mixin hide-text($hight, $width) {
    text-indent: 101%;
    overflow   : hidden;
    white-space: nowrap;
    display    : block;
    height     : $hight;
    width      : $width;
    @content
}

@mixin icon($hight, $width) {
    height: $hight;
    width : $width;
    @content
}

@mixin link($color, $size) {
    color    : $color;
    font-size: $size;
    @content
}

@mixin bg-center-cover {
    background-position: center center;
    background-size    : cover;
    @content
}

@mixin bg-top-contain {
    background-position: center top;
    background-size    : contain;
    background-repeat  : no-repeat;
}

@mixin bg-center-contain {
    background-position: center center;
    background-size    : contain;
    background-repeat  : no-repeat;
}


@mixin l-32banner {
    overflow     : hidden;
    border-radius: 30px;
    width        : 100%;
    padding-top  : 32%;
    position     : relative;
    @content
}

@mixin l-banner ($size) {
    padding-top: $size;
    width      : 100%;
    overflow   : hidden;
    @content
}

@mixin l-card ($size) {
    padding-top: $size;
    overflow   : hidden;
    width      : 100%;
    @content
}

@mixin l-bottom ($size, $hight, $width) {
    border-radius: $size;
    height       : $hight;
    width        : $width;
    @content
}


@mixin l-100card {
    overflow     : hidden;
    border-radius: 1.25rem;
    width        : 100%;
    padding-top  : 100%;
    position     : relative;
    box-shadow   : 2px 2px 5px $g500;
    flex         : 0 0 auto;
    @content
}

@mixin markpen_y {
    background: linear-gradient(transparent 40%, rgba(255, 255, 255, 0) 40%, #FFF176 90%, transparent 95%);
    padding   : 2px 1px;
    @content
}

@mixin color($color, $size) {
    color          : $color;
    border         : $color solid 2px;
    text-decoration: $color;
    font-size      : $size * 1.5;
    @content
}