@mixin flex {
    display: flex;
    @content
}

@mixin flex_center {
    display        : flex;
    justify-content: center;
    @content
}

@mixin flex_between {
    display        : flex;
    justify-content: space-between;
    @content
}

@mixin flex_around {
    display        : flex;
    justify-content: space-around;
    @content
}

@mixin flex_evenly{
    display        : flex;
    justify-content: space-evenly;
    @content
}

@mixin flex_start {
    display        : flex;
    justify-content: flex-start;
    @content
}

@mixin flex_end {
    display        : flex;
    justify-content: flex-end;
    @content
}

@mixin flex_column {
    display       : flex;
    flex-direction: column;
    justify-content: center;
    @content
}

@mixin block {
    display: block;
    @content
}

@mixin none {
    display: none;
    @content
}

@mixin inline {
    display: inline;
    @content
}