@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', 'Microsoft JhengHei', 微軟正黑體, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body img {
  width: 100%;
}

.box {
  height: 40px;
  background-color: #4CC2B1;
}

@media (max-width: 960px) {
  .box {
    display: none;
  }
}

.box p {
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 0;
  line-height: 40px;
}

.h-bg {
  background-color: #ffffff;
}

.h-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 1440px;
}

.h-row {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

.h-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 27px;
  padding-bottom: 15px;
  border-bottom: 1px solid #C4C4C4;
}

.h-col img {
  width: 2.5rem;
  height: 2.5rem;
}

h1 {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  height: 58.63px;
  width: 160px;
  background-image: url(../img/logo.svg);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 33rem;
}

.nav a {
  color: #3F3F3F;
  font-size: 21px;
}

.nav a:hover {
  color: #4CC2B1;
  font-size: 21px;
}

@media (max-width: 960px) and (max-width: 960px) {
  .nav {
    display: none;
  }
}

.b-bg {
  margin-top: 32px;
  margin-bottom: 28px;
}

@media (max-width: 960px) {
  .b-bg {
    margin-top: 0;
  }
}

.b-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  max-width: 1440px;
}

@media (max-width: 960px) {
  .b-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.b-row {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

@media (max-width: 960px) {
  .b-row {
    margin-left: 0;
    margin-right: 0;
  }
}

.b-col {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 960px) {
  .b-col {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 960px) {
  .b-col {
    padding-left: 0;
    padding-right: 0;
  }
}

.banner {
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-radius: 0.6rem;
  width: 100%;
  padding-top: 32%;
  position: relative;
}

@media (max-width: 960px) {
  .banner {
    padding-top: 79%;
    border-radius: 0;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8.6rem;
  padding-right: 8.6rem;
}

@media (max-width: 960px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.row {
  margin-left: -8.6rem;
  margin-right: -8.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 960px) {
  .row {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 960px) {
  .row {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 22%;
  margin: 6px 9px;
}

@media (max-width: 960px) {
  .col {
    width: 33.333%;
    margin: 4px;
  }
}

.btn {
  border-radius: 3rem;
  height: 3rem;
  width: 13.5rem;
  border: 1px solid #4CC2B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 960px) {
  .btn {
    border-radius: 3rem;
    height: 30px;
    width: 100px;
  }
}

.b-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-text img {
  width: 2.5rem;
  height: auto;
  display: block;
}

@media (max-width: 960px) {
  .b-text img {
    width: 1.1rem;
  }
}

.b-text p {
  font-size: 18px;
  color: #4CC2B1;
  margin-bottom: 0;
}

@media (max-width: 960px) {
  .b-text p {
    font-size: 0.7rem;
  }
}
/*# sourceMappingURL=all.css.map */