@import "reset";
@import "layout";
@import "flex";
@import "components";
@import "media";


.box {
    height          : 40px;
    background-color: $main-color;

    p {
        color        : $white;
        align-items  : center;
        text-align   : center;
        margin-bottom: 0;
        line-height  : 40px;
    }
}

@include md {
    .box {
        @include none;
    }
}

.h-bg {
    background-color: $white;
}

.h-container {
    max-width: 1440px;
    @include l-center;
    @include px40;
    width: 100%;
}

@include md {
    .h-row {
        @include mx-40;
    }
}


.h-col {
    @include flex_between;
    @include px40;
    align-items   : center;
    padding-top   : 27px;
    padding-bottom: 15px;
    border-bottom : 1px solid $g5;

    img {
        width : 40px;
        height: 40px;
    }
}

h1 {
    @include hide-text(58.63px, 160px);
    background-image: url(../img/logo.svg);
}

.nav {
    @include flex_between;
    width: 528px;

    a {
        @include link($g10, $fs-6);
    }

    a:hover {
        @include link ($main-color, $fs-6);
    }
}

@include md {
    .nav {
        @include none;
    }
}

.b-bg {
    margin-top   : 32px;
    margin-bottom: 28px;
}

@include md {
    .b-bg {
        margin-top: 0;
    }
}


.b-container {
    max-width: 1440px;
    @include l-center;
    @include px40;
    width: 100%;
}

@include md {
    .b-container {
        padding-left : 0;
        padding-right: 0;
    }
}

.b-row {
    @include mx-40;
}

@include md {
    .b-row {
        margin-left : 0;
        margin-right: 0;
    }
}

.b-col {
    @include px40;
    flex: 0 0 auto;
}

@include md {
    .b-col {
        padding-left : 0;
        padding-right: 0;
    }
}

.banner {
    @include bg-center-cover;
    @include l-32banner;
}


@include md {
    .banner {
        padding-top  : 79%;
        border-radius: 0;
    }
}


.container {
    max-width: 1440px;
    @include l-center;
    @include px138;
    width: 100%;
}

@include md {
    .container {
        @include px30;
    }
}


.row {
    @include flex_between;
    flex-wrap: wrap;
    @include mx-138;
    @include px138;
    flex: 0 0 auto;
}

@include md {
    .row {
        @include mx-30;
        @include px30;
    }
}

.col {
    width  : 20%;
    padding: 6px 9px;
}


@include md {
    .col {
        width  : 33.3333%;
        padding: 4px;
    }
}

.btn {
    border-radius: 30px;
    border       : 1px solid $main-color;
    @include flex_center;
}

@include md {
    .btn {
        border-radius: 30px;
    }
}

.b-text {
    @include flex;
    align-items: center;

    img {
        width : 40px;
        height: auto;
        @include block;
    }

    p {
        font-size    : $fs-5;
        color        : $main-color;
        margin-bottom: 0;
    }
}


@include md {
    .b-text {
        img {
            width: 20px;
        }
    }

    p {
        font-size: $fs-2;
    }
}