@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

body img {
  width: 100%;
}

:root {
  --bs-font-sans-serif: 'Microsoft JhengHei', 微軟正黑體, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, "Arial", Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #378f82;
            box-shadow: 0 0 0 0 #378f82;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #378f82;
            box-shadow: 0 0 0 0 #378f82;
  }
}

.box {
  height: 40px;
  background-color: #4CC2B1;
  cursor: pointer;
}

.box p {
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 0;
  line-height: 40px;
}

.container {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container img {
  cursor: pointer;
}

@media (max-width: 960px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 960px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.h-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 27px;
  padding-bottom: 15px;
  border-bottom: 1px solid #C4C4C4;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.h-col img {
  width: 40px;
  height: 40px;
}

.h-col a {
  cursor: pointer;
}

@media (max-width: 960px) {
  .h-col {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 24px;
    padding-bottom: 29px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 528px;
}

.nav a {
  color: #3F3F3F;
  font-size: 21px;
  cursor: pointer;
}

.nav a:hover {
  color: #4CC2B1;
  font-size: 21px;
}

@media (max-width: 960px) {
  .nav {
    display: none;
  }
}

h1 {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  height: 58.63px;
  width: 160px;
  background-image: url(../img/logo.svg);
  cursor: pointer;
}

@media (max-width: 960px) {
  .md-mr0 {
    margin-right: 0;
  }
}

.ml42 {
  margin-left: 42px;
}

.flex-start-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-end-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 960px) {
  .md-flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.l-container {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 98px;
  padding-right: 98px;
  width: 100%;
}

@media (max-width: 960px) {
  .l-container {
    padding-left: 13px;
    padding-right: 13px;
  }
}

.l-row {
  margin-left: -98px;
  margin-right: -98px;
}

@media (max-width: 960px) {
  .l-row {
    margin-left: -13px;
    margin-right: -13px;
  }
}

.l-col {
  padding-left: 98px;
  padding-right: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 960px) {
  .l-col {
    padding-left: 13px;
    padding-right: 13px;
  }
}

.bg {
  background-color: #ffffff;
}

.bg-main {
  background-color: #4CC2B1;
}

.banner {
  background-position: center center;
  background-size: cover;
  padding-top: 32%;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
}

@media (max-width: 960px) {
  .banner {
    padding-top: 79%;
    border-radius: 0;
  }
}

.icon {
  width: 40px;
  height: 40px;
}

@media (max-width: 960px) {
  .icon {
    width: 20px;
    height: 20px;
  }
}

.icon svg {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon svg path {
  fill: #C4C4C4;
}

.btn:hover {
  border: 1px solid #4CC2B1;
  background-color: #ffffff;
  color: #4CC2B1;
}

.btn:hover svg path {
  fill: #4CC2B1;
}

.outline {
  padding: 8.5px 8px;
  border: 1px solid #4CC2B1;
  border-radius: 10px;
  display: inline-block;
  margin-right: 12px;
  color: #4CC2B1;
}

.grid-5-md-2 {
  width: 20%;
}

@media (max-width: 960px) {
  .grid-5-md-2 {
    width: 50%;
  }
}

.grid-2-md-1 {
  width: 50%;
}

@media (max-width: 960px) {
  .grid-2-md-1 {
    width: 100%;
  }
}

.border-b {
  border-bottom: 1px solid #C4C4C4;
}

.card-body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-body-noneposition {
  margin: 20px 0;
}

@media (max-width: 960px) {
  .card-body-noneposition {
    text-align: center;
  }
}

.bnt-add {
  position: absolute;
  right: 9px;
  bottom: 8px;
  width: 102px;
  height: 34px;
  border-radius: 100px;
  border: 0;
  background-color: #ffffff;
  color: #4CC2B1;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 960px) {
  .bnt-add {
    width: 74px;
    height: 24px;
    font-size: 10px;
  }
}

.bnt-add:hover,
.btn-add:focus {
  font-size: 12px;
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #378f82;
          box-shadow: 0 0.5em 0.5em -0.4em #378f82;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  cursor: pointer;
}

@media (max-width: 960px) {
  .bnt-add:hover,
  .btn-add:focus {
    font-size: 10px;
  }
}

.card133 {
  padding-top: 133%;
  overflow: hidden;
  width: 100%;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #4CC2B1;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 960px) {
  .card133 {
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 12px;
  }
}

.card133:hover {
  border-radius: 10px;
}
/*# sourceMappingURL=all.css.map */