@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #378f82;
            box-shadow: 0 0 0 0 #378f82;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #378f82;
            box-shadow: 0 0 0 0 #378f82;
  }
}

.line-g5 {
  height: 50px;
  width: 85px;
  -webkit-box-shadow: 0 2px #C4C4C4;
          box-shadow: 0 2px #C4C4C4;
  padding-bottom: 20px;
  margin-left: 18px;
  margin-right: 18px;
}

.c-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 960px) {
  .c-col {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 2fr 2fr (1fr)[3];
      grid-template-columns: 200px 2fr 2fr repeat(3, 1fr);
  grid-auto-rows: auto;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #4CC2B1;
}

.m {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-color: #4CC2B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px 0 0 0;
}

.n {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-color: #4CC2B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-color: #4CC2B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.v {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-color: #4CC2B1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 10px 0 0;
}

.box1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box5 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box6 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box7 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-icon {
  width: 15px;
  height: 15px;
}

.c-icon svg {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select {
  width: 250px;
  height: 30px;
  background-color: #4CC2B1;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bi-caret-down-fill {
  color: #ffffff;
}

.card81 {
  height: 81px;
  border-radius: 10px 10px 0 0;
  border: 2px solid #4CC2B1;
  background-color: #4CC2B1;
}

.card286 {
  height: 286px;
  border-radius: 0 0 10px 10px;
  border-left: 2px solid #4CC2B1;
  border-right: 2px solid #4CC2B1;
  border-bottom: 2px solid #4CC2B1;
}

.grid-3-md-1 {
  width: 33.3333%;
}

@media (max-width: 960px) {
  .grid-3-md-1 {
    width: 100%;
    padding: 0;
  }
}

input[type=text] {
  width: 210px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #4CC2B1;
  border-radius: 100px;
  -webkit-transition: 1s;
  transition: 1s;
  outline: none;
  font-size: 21px;
  color: #4CC2B1;
  font-weight: bold;
  text-align: center;
}

input[type=text]:focus {
  border: 2px solid #929292;
}

.btn-p {
  width: 206px;
  height: 48px;
  background-color: #4CC2B1;
  color: #ffffff;
  border-radius: 47px;
  border: 1px solid #4CC2B1;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn-p:hover,
.btn-p:focus {
  -webkit-animation: pulse 1.3s;
          animation: pulse 1.3s;
  -webkit-box-shadow: 0 0 0 0.3em transparent;
          box-shadow: 0 0 0 0.3em transparent;
}

.btn-submit {
  width: 200px;
  height: 60px;
  background-color: #4CC2B1;
  color: #ffffff;
  border-radius: 47px;
  border: 1px solid #4CC2B1;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  cursor: pointer;
}

.btn-submit:hover,
.btn-submit:focus {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #378f82;
          box-shadow: 0 0.5em 0.5em -0.4em #378f82;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  cursor: pointer;
}

.btn-none {
  width: 200px;
  height: 60px;
  background-color: #C4C4C4;
  color: #ffffff;
  border-radius: 47px;
  border: 1px solid #C4C4C4;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn-none:hover {
  background-color: #4CC2B1;
  border: 1px solid #4CC2B1;
  cursor: pointer;
}

.count {
  height: 40px;
  width: 267px;
  left: 84px;
  border-radius: 100px;
  border: 2px solid #4CC2B1;
  line-height: 40px;
}
/*# sourceMappingURL=cart.css.map */