@import "layout";
@import "flex";
@import "components";
@import "media";


.line-g5 {
    height        : 50px;
    width         : 85px;
    box-shadow    : 0 2px $g5;
    padding-bottom: 20px;
    @include mx18;
}

.c-col {
    @include flex_center;
    flex-wrap: wrap;
    flex     : 0 0 auto;

    @include md {
        @include px15;
    }
}

.list {
    display              : grid;
    grid-template-columns: 200px 2fr 2fr repeat(3, 1fr);
    grid-auto-rows       : auto;
    border-width         : 0 0 1px 0;
    border-style         : solid;
    border-color         : $main-color;
}

.m {
    grid-column-start: 1;
    grid-column-end  : 4;
    grid-row-start   : 1;
    grid-row-end     : 2;
    background-color : $main-color;
    @include flex_center;
    border-radius: 10px 0 0 0;
}

.n {
    grid-column-start: 4;
    grid-column-end  : 5;
    grid-row-start   : 1;
    grid-row-end     : 2;
    background-color : $main-color;
    @include flex_center;
}

.b {
    grid-column-start: 5;
    grid-column-end  : 6;
    grid-row-start   : 1;
    grid-row-end     : 2;
    background-color : $main-color;
    @include flex_center;
}

.v {
    grid-column-start: 6;
    grid-column-end  : 7;
    grid-row-start   : 1;
    grid-row-end     : 2;
    background-color : $main-color;
    @include flex_center;
    border-radius: 0 10px 0 0;
}


.box1 {
    grid-column-start: 1;
    grid-column-end  : 2;
    grid-row-start   : 2;
    grid-row-end     : 3;
    @include flex_center;
}

.box2 {
    grid-column-start: 2;
    grid-column-end  : 3;
    grid-row-start   : 2;
    grid-row-end     : 3;
    @include flex_center;
}

.box3 {
    grid-column-start: 3;
    grid-column-end  : 4;
    grid-row-start   : 2;
    grid-row-end     : 3;
    @include flex_center;
}

.box5 {
    grid-column-start: 4;
    grid-column-end  : 5;
    grid-row-start   : 2;
    grid-row-end     : 3;
    @include flex_center;
}

.box6 {
    grid-column-start: 5;
    grid-column-end  : 6;
    grid-row-start   : 2;
    grid-row-end     : 3;
    @include flex_center;
}

.box7 {
    grid-column-start: 6;
    grid-column-end  : 7;
    grid-row-start   : 2;
    grid-row-end     : 3;
    @include flex_center;
}

.c-icon {
    width : 15px;
    height: 15px;

    svg {
        width      : 100%;
        height     : 100%;
        align-items: center;
    }
}

.select {
    width           : 250px;
    height          : 30px;
    background-color: $main-color;
    border-radius   : 100px;
    @include flex_center;
}

.bi-caret-down-fill {
    color: $white;
}

.card81 {
    height          : 81px;
    border-radius   : 10px 10px 0 0;
    border          : 2px solid $main-color;
    background-color: $main-color;
}


.card286 {
    height       : 286px;
    border-radius: 0 0 10px 10px;
    border-left  : 2px solid $main-color;
    border-right : 2px solid $main-color;
    border-bottom: 2px solid $main-color;
}


.grid-3-md-1 {
    width  : 33.3333%;

    @include md {
        width  : 100%;
        padding: 0;
    }
}