@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

body img {
  width: 100%;
}

:root {
  --bs-font-sans-serif: "Microsoft JhengHei", 微軟正黑體, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, "Arial", Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #378f82;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner {
  background-position: center center;
  background-size: cover;
  padding-top: 32%;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
}
@media (max-width: 960px) {
  .banner {
    padding-top: 79%;
    border-radius: 0;
  }
}

.btn-link {
  width: 20%;
  padding-top: 0;
  padding-bottom: 12px;
}
@media (max-width: 960px) {
  .btn-link {
    width: 33.3333%;
    padding-top: 0;
    padding-bottom: 8px;
  }
}
.btn-link a {
  display: block;
}

.btn {
  border-radius: 100px;
  border: 1px solid #C4C4C4;
  background-color: #ffffff;
  color: #C4C4C4;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}
.btn .b-text {
  display: flex;
  justify-content: center;
  margin: 8px auto;
  align-items: center;
}
.btn .b-text p {
  font-size: 18px;
  margin-left: 5px;
}
@media (max-width: 960px) {
  .btn .b-text p {
    font-size: 12px;
  }
}

.icon {
  width: 40px;
  height: 40px;
}
@media (max-width: 960px) {
  .icon {
    width: 20px;
    height: 20px;
  }
}
.icon svg {
  width: 100%;
  height: 100%;
  align-items: center;
}
.icon svg path {
  fill: #C4C4C4;
}

.btn:hover {
  border: 1px solid #4CC2B1;
  background-color: #ffffff;
  color: #4CC2B1;
}
.btn:hover svg path {
  fill: #4CC2B1;
}

.inner {
  border: 1px solid #4CC2B1;
  width: 100%;
  border-radius: 18px;
  padding: 24px 16px;
}
@media (max-width: 960px) {
  .inner {
    padding: 24px;
  }
}

.btn-2 {
  width: 196px;
  height: 50px;
  background-color: #4CC2B1;
  color: #ffffff;
  border-radius: 47px;
  border: 1px solid #4CC2B1;
  font-size: 24px;
  align-items: center;
  cursor: pointer;
}

.btn-2:hover,
.btn-2:focus {
  animation: pulse 1.3s;
  box-shadow: 0 0 0 0.3em transparent;
}

.btn-3 {
  transition: 0.3s;
}

.btn-3:hover,
.btn-3:focus {
  font-size: 12px;
  transform: translateY(-0.25em);
  cursor: pointer;
}
@media (max-width: 960px) {
  .btn-3:hover,
  .btn-3:focus {
    font-size: 10px;
  }
}

.outline {
  padding: 8.5px 8px;
  border: 1px solid #4CC2B1;
  border-radius: 10px;
  display: inline-block;
  margin-right: 12px;
  color: #4CC2B1;
}

.grid-153 {
  width: 25%;
}
@media (max-width: 960px) {
  .grid-153 {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .grid-153 {
    width: 100%;
  }
}

.card114 {
  padding-top: 114%;
  overflow: hidden;
  width: 100%;
  background-position: center center;
  background-size: cover;
  border: 1px solid #4CC2B1;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}

.card114:hover {
  box-shadow: 2px 2px 5px #C4C4C4;
}

.card153 {
  padding-top: 100%;
  overflow: hidden;
  width: 100%;
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  overflow: hidden;
  position: relative;
}

.inner {
  border: 1px solid #4CC2B1;
  width: 100%;
  border-radius: 18px;
  padding: 24px 16px;
}
@media (max-width: 960px) {
  .inner {
    padding: 24px;
  }
}

.grid-3-md-1 {
  width: 33.3333%;
  padding: 16px;
}
@media (max-width: 960px) {
  .grid-3-md-1 {
    width: 100%;
    padding: 0;
  }
}/*# sourceMappingURL=index.css.map */