@import "reset";
@import "layout";
@import "flex";
@import "components";
@import "media";


//導覽、footer
.box {
    height          : 40px;
    background-color: $main-color;
    cursor          : pointer;

    p {
        color        : $white;
        align-items  : center;
        text-align   : center;
        margin-bottom: 0;
        line-height  : 40px;
    }
}

.container {
    max-width: 1360px;
    @include l-center;
    width: 100%;

    img {
        cursor: pointer;
    }

    @include md {
        @include px15;
    }
}

.row {
    @include md {
        @include mx-15;
    }
}

.h-col {
    @include flex_between;
    align-items   : center;
    padding-top   : 27px;
    padding-bottom: 15px;
    border-bottom : 1px solid $g5;
    transition    : 0.7s;

    img {
        width : 40px;
        height: 40px;
    }

    a {
        cursor: pointer;
    }

    @include md {
        @include px15;
        padding-top   : 24px;
        padding-bottom: 29px;
    }
}

.nav {
    @include flex_between;
    width: 528px;

    a {
        @include link($g10, $fs-6);
        cursor: pointer;
    }

    a:hover {
        @include link ($main-color, $fs-6);
    }

    @include md {
        @include none;
    }
}

h1 {
    @include hide-text(58.63px, 160px);
    background-image: url(../img/logo.svg);
    cursor          : pointer;
}

.md-mr0 {
    @include md {
        margin-right: 0;
    }
}

.ml42 {
    margin-left: 42px;
}


//本頁Spacing
.md-none {
    @include md {
        @include none;
    }
}

.mb8 {
    margin-bottom: 8px;
}

.mb48 {
    margin-bottom: 48px;
}

.mb61 {
    margin-bottom: 61px;
}

.mt-auto {
    margin-top: auto;
}

.px9-md-px4 {
    padding-left : 9px;
    padding-right: 9px;

    @include md {
        padding-left : 4px;
        padding-right: 4px;
    }
}

.px9py5 {
    padding: 8px 9px;

    @include md {
        padding: 5px 9px;
    }
}

.py24 {
    padding-top   : 24px;
    padding-bottom: 24px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

//本頁flex
.flex-start-column {
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
}

.flex-center {
    display        : flex;
    justify-content: center;
}

.flex {
    @include flex;
}

.flex-center-column {
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.md-flex-column {
    @include md {
        display        : flex;
        flex-direction : column;
        justify-content: center;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

//本頁通用
.l-container {
    max-width: 1360px;
    @include l-center;
    @include px98;
    width: 100%;

    @include md {
        @include px13;
    }
}

.l-row {
    @include mx-98;

    @include md {
        @include mx-13;
    }
}

.l-col {
    @include px98;
    flex-wrap: wrap;
    flex     : 0 0 auto;

    @include md {
        @include px13;
    }
}

.p-col {
    @include flex;
    flex-wrap: wrap;
    flex     : 0 0 auto;

    @include md {
        @include px13;
    }
}

.grid-5-md-2 {
    width: 20%;

    @include md {
        width: 50%;
    }
}

.bg {
    background-color: $white;
}

.bg-main {
    background-color: $main-color;
}


//本頁Typography

.fs-9-blod {
    font-size  : $fs-9;
    font-weight: bold;
    @include flex;

    @include md {
        @include flex_center;
        margin-right : 0;
        margin-bottom: 18px;
    }
}

.fa-12 {
    font-size: $fa-12;
    color    : $main-color;
}

.fs-3-white {
    font-size: $fs-3;
    color    : $white;
}

.fs-3-white-blod {
    font-size  : $fs-3;
    color      : $white;
    font-weight: bold;

    @include s {
        font-size: fs-2;
    }
}

.fs-1-white {
    font-size: $fs-1;
    color    : $white;

    @include md {
        font-size: $fs-11;
    }
}

.fs-2-white-blod {
    font-size  : $fs-2;
    color      : $white;
    font-weight: bold;

    @include md {
        font-size: $fs-1;
    }
}

//本頁元件
.card133 {
    @include l-card(133%);
    @include bg-top-contain;
    border    : 1px solid $main-color;
    overflow  : hidden;
    position  : relative;
    cursor    : pointer;
    box-shadow: 2px 2px 5px $g5;

    @include md {
        @include bg-top-contain;
        margin-bottom: 12px;
    }
}

.card-body {
    position: absolute;
    left    : 0;
    right   : 0;
    bottom  : 0;
}

.bnt-add {
    position        : absolute;
    right           : 9px;
    bottom          : 8px;
    width           : 102px;
    height          : 34px;
    border-radius   : 100px;
    border          : 0;
    background-color: $white;
    color           : $main-color;
    font-size       : $fs-2;
    font-weight     : bold;
    transition      : 0.7s;
    cursor          : pointer;

    @include md {
        width    : 74px;
        height   : 24px;
        font-size: $fs-1;
    }
}

.bnt-add:hover {
    font-size : $fs-2;
    box-shadow: 2px 2px 2px $secondary-color;
    cursor    : pointer;

    @include md {
        font-size: $fs-1;
    }
}

.bnt-3 {
    width           : 102px;
    height          : 34px;
    border-radius   : 100px;
    border          : 0;
    background-color: $main-color;
    color           : $white;
    font-size       : $fs-2;
    font-weight     : bold;
    transition      : 0.7s;
    cursor          : pointer;

    @include md {
        width    : 74px;
        height   : 24px;
        font-size: $fs-1;
    }
}

.bnt-3:hover {
    font-size : $fs-2;
    box-shadow: 2px 2px 2px $secondary-color;
    cursor    : pointer;

    @include md {
        font-size: $fs-1;
    }
}








// .mt32-mb28 {
//     margin-top   : 32px;
//     margin-bottom: 28px;
// }

// .mt0 {
//     margin-top: 0;
// }

// .mb12 {
//     margin-bottom: 12px;
// }

// .mb16 {
//     margin-bottom: 16px;
// }

// .mb18 {
//     margin-bottom: 18px;
// }

// .mb28 {
//     margin-bottom: 28px;
// }

// .mb32 {
//     margin-bottom: 32px;
// }

// .md-mb0 {
//     @include md {
//         margin-bottom: 0;
//     }
// }

// .md-mb32 {
//     @include md {
//         margin-bottom: 32px;
//     }
// }


// .md-mt0 {
//     @include md {
//         margin-top: 0;
//     }
// }

// .ml30 {
//     margin-left: 30px;
// }

// .px9-px49 {
//     padding-left : 9px;
//     padding-right: 9px;

//     @include md {
//         padding-left : 49px;
//         padding-right: 49px;
//     }
// }

// .px30 {
//     @include md {
//         padding-left : 30px;
//         padding-right: 30px;
//     }
// }

// .fs-5-black-blod {
//     font-size  : $fs-5;
//     font-weight: bold;
// }

// .fs-5-black-blod-md-fs-6 {
//     font-size    : $fs-5;
//     font-weight  : bold;
//     margin-bottom: 16px;

//     @include md {
//         font-size: $fs-6;
//     }
// }

// .fs-10 {
//     font-size: $fs-10;
// }

// .fs-8-blod {
//     font-size  : $fs-8;
//     font-weight: bold;
//     color      : $g10;
//     text-align : center;
// }


// .banner {
//     @include bg-center-cover;
//     @include l-banner (32%);
//     border-radius: 30px;

//     @include md {
//         padding-top  : 79%;
//         border-radius: 0;
//     }
// }

// .btn-link {
//     width         : 20%;
//     padding-top   : 0;
//     padding-bottom: 12px;

//     @include md {
//         width         : 33.3333%;
//         padding-top   : 0;
//         padding-bottom: 8px;
//     }

//     a {
//         display: block;
//     }
// }

// .btn {
//     border-radius   : 100px;
//     border          : 1px solid $g5;
//     background-color: $white;
//     color           : $g5;
//     text-decoration : none;
//     cursor          : pointer;

//     .b-text {
//         @include flex_center;
//         margin     : 8px auto;
//         align-items: center;

//         p {
//             font-size  : $fs-5;
//             margin-left: 5px;
//         }

//         @include md {
//             p {
//                 font-size: $fs-2;
//             }
//         }
//     }
// }

// .icon {
//     width : 40px;
//     height: 40px;

//     @include md {
//         width : 20px;
//         height: 20px;
//     }

//     svg {
//         width      : 100%;
//         height     : 100%;
//         align-items: center;

//         path {
//             fill: $g5;
//         }
//     }
// }

// .btn:hover {
//     border          : 1px solid $main-color;
//     background-color: $white;
//     color           : $main-color;

//     svg {
//         path {
//             fill: $main-color;
//         }
//     }
// }

// .inner {
//     border       : 1px solid $main-color;
//     width        : 100%;
//     border-radius: 18px;
//     padding      : 24px 16px;

//     @include md {
//         padding: 24px;
//     }
// }

// .btn-2 {
//     width           : 196px;
//     height          : 50px;
//     background-color: $main-color;
//     color           : $white;
//     border-radius   : 47px;
//     border          : 0;
//     font-size       : $fs-7;
//     align-items     : center;
//     transition      : 0.5s;
//     cursor          : pointer
// }

// .btn-2:hover {
//     box-shadow: 2px 2px 5px $secondary-color;
// }

// .outline {
//     padding      : 8.5px 8px;
//     border       : 1px solid $main-color;
//     border-radius: 10px;
//     display      : inline-block;
//     margin-right : 12px;
//     color        : $main-color;
// }

// .grid-3-md-1 {
//     width  : 33.3333%;
//     padding: 16px;

//     @include md {
//         width  : 100%;
//         padding: 0;
//     }
// }

// .grid-153 {
//     width: 25%;

//     @include md {
//         width: 50%;
//     }

//     @include s {
//         width: 100%;
//     }
// }

// .card114 {
//     @include l-card(114%);
//     @include bg-center-cover;
//     border       : 1px solid $main-color;
//     border-radius: 10px;
//     cursor       : pointer;
//     transition   : 0.7s;
// }

// .card114:hover {
//     box-shadow: 2px 2px 5px $g5;
// }


// .card153 {
//     @include l-card(100%);
//     @include bg-top-contain;
//     border  : 0;
//     overflow: hidden;
//     position: relative;
// }


// .card-body-noneposition {
//     margin: 20px 0;

//     @include md {
//         text-align: center;
//     }
// }