@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #378f82;
            box-shadow: 0 0 0 0 #378f82;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #378f82;
            box-shadow: 0 0 0 0 #378f82;
  }
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.fs-9-blod {
  font-size: 34px;
  font-weight: bold;
  margin-right: 32px;
  color: #4CC2B1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 960px) {
  .fs-9-blod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    margin-bottom: 18px;
  }
}

.fs-9-blod-bk {
  font-size: 34px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 960px) {
  .fs-9-blod-bk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    margin-bottom: 18px;
  }
}

.fa-12 {
  font-size: 32px;
  color: #4CC2B1;
}

.fa-12-blod {
  font-size: 32px;
  color: #4CC2B1;
  font-weight: bold;
}

.fs-3-white {
  font-size: 14px;
  color: #ffffff;
}

.fs-3-white-blod {
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
}

@media (max-width: 540px) {
  .fs-3-white-blod {
    font-size: fs-2;
  }
}

.c-fs-3-g6 {
  font-size: 14px;
  color: #929292;
}

@media (max-width: 960px) {
  .c-fs-3-g6 {
    font-size: 12px;
  }
}

.fs-3-linehight {
  font-size: 14px;
  line-height: 2rem;
}

.fs-1-white {
  font-size: 10px;
  color: #ffffff;
}

@media (max-width: 960px) {
  .fs-1-white {
    font-size: 8px;
  }
}

.fs-2-white-blod {
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
}

@media (max-width: 960px) {
  .fs-2-white-blod {
    font-size: 10px;
  }
}

.fs-5-black-blod {
  font-size: 18px;
  font-weight: bold;
}

.fs-5-white-blod {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.c-fs-5-white-blod {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 960px) {
  .c-fs-5-white-blod {
    font-size: 12px;
  }
}

.fs-5-black-blod-md-fs-6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

@media (max-width: 960px) {
  .fs-5-black-blod-md-fs-6 {
    font-size: 21px;
  }
}

.fs-5-g10 {
  font-size: 18px;
  color: #3F3F3F;
}

.c-fs-5-g10 {
  font-size: 18px;
  color: #3F3F3F;
}

@media (max-width: 960px) {
  .c-fs-5-g10 {
    font-size: 8px;
  }
}

.fs-5-g6 {
  font-size: 18px;
  color: #929292;
}

.fs-5-warning {
  font-size: 18px;
  color: #f00;
}

.fs-5-main {
  font-size: 18px;
  color: #4CC2B1;
}

.fs-10 {
  font-size: 15px;
}

.fs-8-blod {
  font-size: 27px;
  font-weight: bold;
  color: #3F3F3F;
  text-align: center;
}

.c-fs-8-blod {
  font-size: 27px;
  font-weight: bold;
  color: #3F3F3F;
  text-align: center;
}

@media (max-width: 960px) {
  .c-fs-8-blod {
    font-size: 14px;
  }
}

.fs8-inline {
  font-size: 27px;
  font-weight: bold;
  color: #3F3F3F;
  text-align: center;
  display: inline;
}

.bl {
  border-left: 1px solid #4CC2B1;
}

.fs-7-white {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.c-fs-7-white {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0;
}

@media (max-width: 960px) {
  .c-fs-7-white {
    font-size: 21px;
    color: #3F3F3F;
  }
}

.fs-7-blod {
  font-size: 24px;
  font-weight: bold;
}
/*# sourceMappingURL=typography.css.map */