@import "layout";
@import "flex";
@import "components";
@import "media";

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}



.fs-9-blod {
    font-size   : $fs-9;
    font-weight : bold;
    margin-right: 32px;
    color       : $main-color;
    align-items : center;
    @include flex;

    @include md {
        @include flex_center;
        margin-right : 0;
        margin-bottom: 18px;
    }
}

.fs-9-blod-bk {
    font-size  : $fs-9;
    font-weight: bold;
    @include flex;

    @include md {
        @include flex_center;
        margin-right : 0;
        margin-bottom: 18px;
    }
}

.fa-12 {
    font-size: $fa-12;
    color    : $main-color;
}

.fa-12-blod {
    font-size: $fa-12;
    color    : $main-color;
    font-weight: bold;
}

.fs-3-white {
    font-size: $fs-3;
    color    : $white;
}

.fs-3-white-blod {
    font-size  : $fs-3;
    color      : $white;
    font-weight: bold;

    @include s {
        font-size: fs-2;
    }
}

.c-fs-3-g6{
    font-size: $fs-3;
    color: $g6 ;
    @include md{
        font-size: $fs-2;
    }
}

.fs-3-linehight {
    font-size  : $fs-3;
    line-height: 2rem;
}

.fs-1-white {
    font-size: $fs-1;
    color    : $white;

    @include md {
        font-size: $fs-11;
    }
}

.fs-2-white-blod {
    font-size  : $fs-2;
    color      : $white;
    font-weight: bold;

    @include md {
        font-size: $fs-1;
    }
}

.fs-5-black-blod {
    font-size  : $fs-5;
    font-weight: bold;
}

.fs-5-white-blod {
    font-size  : $fs-5;
    font-weight: bold;
    color      : $white;
}

.c-fs-5-white-blod {
    font-size  : $fs-5;
    font-weight: bold;
    color      : $white;
    @include md{
        font-size: $fs-2;
    }
}
.fs-5-black-blod-md-fs-6 {
    font-size    : $fs-5;
    font-weight  : bold;
    margin-bottom: 16px;

    @include md {
        font-size: $fs-6;
    }
}

.fs-5-g10 {
    font-size: $fs-5;
    color    : $g10;
}

.c-fs-5-g10 {
    font-size: $fs-5;
    color    : $g10;
    @include md{
        font-size: $fs-11;
    }
}

.fs-5-g6 {
    font-size: $fs-5;
    color    : $g6;
}

.fs-5-warning {
    font-size: $fs-5;
    color    : $warning;
}

.fs-5-main {
    font-size: $fs-5;
    color    : $main-color;
}

.fs-10 {
    font-size: $fs-10;
}

.fs-8-blod {
    font-size  : $fs-8;
    font-weight: bold;
    color      : $g10;
    text-align : center;
}

.c-fs-8-blod {
    font-size  : $fs-8;
    font-weight: bold;
    color      : $g10;
    text-align : center;
    @include md{
        font-size: $fs-3;
    }
}

.fs8-inline {
    font-size  : $fs-8;
    font-weight: bold;
    color      : $g10;
    text-align : center;
    @include inline;
}

.bl {
    border-left: 1px solid $main-color;
}

.fs-7-white {
    font-size  : $fs-7;
    color      : $white;
    font-weight: bold;
}

.c-fs-7-white {
    font-size  : $fs-7;
    color      : $white;
    font-weight: bold;
    @include md{
        font-size: $fs-6;
        color: $g10 ;
        margin-bottom: 12px;
    }
}
.fs-7-blod {
    font-size  : $fs-7;
    font-weight: bold;
}