@import "reset";
@import "media";
@import "flex";
@import "components";
@import "layout";

.l-h2 {
    font-size  : $text_xl;
    font-weight: bold;

    @include md {
        font-size: $text_l;
    }
}

.l-h3 {
    //32px
    font-size: $text_l;
}

.l-h4 {
    //24px
    font-size  : $text_m;
    font-weight: bold;
}

a {
    color: $g300;
    @include block;
}

a:hover {
    color: $g500;
}

.p-s {
    font-size: $text_s;
}

.p-m {
    font-size: $text_m;
}

.p-m-w {
    font-size: $text_m;
    color    : $white;

    @include md {
        font-size: $text_s;
    }
}

.p-l {
    font-size: $text_l;

    @include md {
        font-size: $text_m;
    }
}

.p-s-y200 {
    background-color: $y200;
    color           : $b100;
    display         : inline;
    padding         : 0 10px;
    border-radius   : 10px;
    font-weight     : bold;
}

.bi-clock-fill,
.bi-geo-alt-fill {
    color: $y200;
}

.bi-clock-fill,
.bi-eye,
.bi-heart,
.bi-geo-alt-fill {
    margin-right: 5px;
}

.y200 {
    background-color: $y200;
}

.container {
    @include mxa;
    width    : 100%;
    max-width: 1672px;
    @include px2;

    @media (max-width: 1140px) {
        @include px2;
    }

    @media (max-width: 960px) {
        @include px1;
    }

}

.bg {
    @include py2;
    @include bg-center-cover;
}

.row {
    @include flex_center;
    @include py1;
    @include mx-2;

    @media (max-width: 1140px) {
        @include mx-2;
    }

    @media (max-width: 960px) {
        @include flex_column;
        @include mx-1;
    }
}

.row-column-md-none {
    @include flex_column;
    @include py1;
    @include mx-2;

    @media (max-width: 1140px) {
        @include mx-2;
    }

    @media (max-width: 960px) {
        @include none;
    }
}

.row-column {
    @include flex_column;
    @include py1;
    @include mx-2;

    @media (max-width: 1140px) {
        @include mx-2;
    }

    @media (max-width: 960px) {
        @include flex_column;
        @include mx-1;
    }
}

/*header*/
.header {
    width   : 100%;
    position: fixed;
    top     : 0;
    left    : 0;
    right   : 0;
    z-index : 999;
    @include flex_between;
    height          : 2.5rem;
    align-items     : center;
    background-color: $white;
    box-shadow      : 0 2px 5px $g500;
}

.logo {
    @include hide-text;
    background: url(../images/logo.jpg) no-repeat;
    width     : 227px;
    height    : 34px;
}

.navbar {
    @include flex_between;
    min-width: 70%;

    a {
        @include block;
        padding-bottom: 4px;
        flex-wrap     : nowrap;
        font-size     : $text_m;
        transition    : 1s;
    }

    a:hover {
        box-shadow: 0 3px $g400;
    }
}

.phone-navbar {
    @include none;
}

@include md {
    .header {
        position: relative;
        position: fixed;
        top     : 0;
        left    : 0;
        right   : 0;
        z-index : 999;
    }

    .navbar {
        @include flex_column;
        position        : absolute;
        top             : 2.5rem;
        right           : 0;
        left            : 0;
        max-height      : 0;
        text-align      : center;
        overflow        : hidden;
        z-index         : 999;
        transition      : max-height 1s;
        background-color: $white;
    }

    .phone-navbar {
        @include block;
        align-self: center;
        font-size : $text_m;

        a:hover {
            color: $g400;
        }
    }

    .show {
        max-height: 75rem;
        padding   : 0.5rem 0;
    }

    .show a {
        padding   : 0.5rem 0;
        transition: 1s;
    }

    .show a:hover {
        box-shadow: 0 0.7px $g500;
    }
}

/*banner*/
.banner-lg {
    @include mt2;

    .swiper {
        max-width: 100%;
        height   : auto;
    }

    .swiper-slide {
        text-align             : center;
        font-size              : 18px;
        background             : #fff;
        /* Center slide text vertically */
        display                : -webkit-box;
        display                : -ms-flexbox;
        display                : -webkit-flex;
        display                : flex;
        -webkit-box-pack       : center;
        -ms-flex-pack          : center;
        -webkit-justify-content: center;
        justify-content        : center;
        -webkit-box-align      : center;
        -ms-flex-align         : center;
        -webkit-align-items    : center;
        align-items            : center;

        img {
            display   : block;
            height    : auto;
            object-fit: cover;
            max-width : 100%;
        }
    }
}

/*banner end*/

/*togo+swiper*/

.togo-title {
    width: 30%;
    @include flex_column;
    @include px2;

    @include md {
        width     : 100%;
        text-align: center;
        @include px1;
    }

    img {
        width       : 80px;
        height      : auto;
        margin-right: 20px;

        @include md {
            display: none;
        }
    }
}

.togo-swiper {
    width: 70%;
    @include px2;

    @include md {
        width: 100%;
        @include px1;
    }

    .swiper {
        width: 100%;
    }
}

.togo-text {
    padding: 0.5rem;
}

.togoSwiper {
    .swiper-slide {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: flex-end;
        padding        : 0.5rem;
        flex           : 0 0 auto;
    }

    @include togoSwiper {
        .swiper-slide:first-child {
            transition: transform 100ms;
        }

        .swiper-slide:first-child img {
            transition: box-shadow 500ms;
        }

        .swiper-slide.swiper-slide-active:first-child {
            transform: translateX(50%);
            z-index  : 2;
        }

        .swiper-slide.swiper-slide-active:first-child img {
            box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
        }

        .swiper-slide:nth-child(2) {
            transition: transform 100ms;
        }

        .swiper-slide.swiper-slide-next:nth-child(2) {
            transform: translateX(55%);
            z-index  : 1;
        }

        .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
            transform: translateX(-50%);
        }

        .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
            transform: translateX(-55%);
        }
    }
}

.swiper-card,
.topten-card {
    @include l-100card;
    @include bg-center-cover;

    @include md {
        width      : 100%;
        padding-top: 100%;
    }

    .bi-bookmark-fill {
        position : absolute;
        font-size: $text_m;
        color    : $white;
        top      : 5%;
        right    : 5%;
        translate: 50%;
    }
}

.swiper-position,
.topten-position {
    position: absolute;
    left    : 0;
    right   : 0;
    bottom  : 0;
}

.swiper-user {
    @include flex_between;
    margin     : 10px 0;
    align-items: center;
}

.swiper-titleradius {
    @include flex_around;
    background-color: $white;
    border-radius   : 0 50px 50px 0;
    padding         : 2% 6%;
    align-items     : center;

    .p-s {
        padding-bottom: 0;
        color         : $b100;
    }

    img {
        margin-right: 10%;
    }
}

.swiper-data {
    @include flex_around;
    color  : $white;
    padding: 2% 6%;

    p {
        padding-bottom: 0;
    }
}

.swiper-text,
.hotel-text {
    background-color: $white;
    padding         : 2%;
    text-align      : left;

    .l-h3 {
        color      : $b100;
        font-weight: bold;
    }

    p {
        color      : $g400;
        margin     : 10px 0;
        font-weight: bold;
    }
}


.l-h2,
.p-l {
    margin-bottom: 30px;

    @include md {
        margin-bottom: 15px;
    }
}

/*togo+swiper end*/

.title {
    @include px2;
    width: 100%;

    @include md {
        @include px1;
    }

    .l-h2 {
        @include markpen_y;
    }
}

.text {
    @include flex_between;
    align-items: center;
    text-align : center;
    padding    : 0.5rem;

    @include md {
        @include flex_column;
        justify-content: center;
    }
}

.topten-wrap,
.food-wrap,
.hot-wrap {
    @include flex;
    @include px2;
    flex-wrap: wrap;
    width    : 100%;

    @include md {
        @include px1;
    }
}

.topten-grid {
    width  : 20%;
    padding: 0.5rem;

    @include md {
        width: 50%;
    }
}

.topten-content {
    padding   : 2%;
    text-align: left;

    .p-s {
        color        : $b100;
        display      : inline;
        padding      : 0 10px;
        border-radius: 10px;
    }

    .l-h4 {
        color: $white;
    }

    .bi-geo-alt-fill {
        margin: 0;
    }
}

.food-banner {
    @include px2;
    width   : 100%;
    position: relative;

    @include md {
        @include px1;

    }

    a {
        height: 30rem;
        @include bg-center-cover;
        overflow     : hidden;
        border-radius: 1.25rem;
        flex         : 0 0 auto;
        padding      : 0.5rem;
    }


    .p-m {
        background-color: $white;
        border-radius   : 2rem;
        padding         : 0.5rem 2rem;
        position        : absolute;
        left            : 60px;
        bottom          : 51px;

        @include md {
            width    : 80%;
            font-size: $text_s;
            position : absolute;
            left     : auto;
            right    : auto;
            bottom   : 51px;
        }

    }
}

.food-grid {
    width  : 25%;
    padding: 0.5rem;

    @include md {
        width: 50%;
    }
}

.food-card {
    padding-top: 106%;
    width      : 100%;
    @include bg-center-cover;
    overflow     : hidden;
    border-radius: 1.25rem;
    position     : relative;
    box-shadow   : 2px 2px 5px $g500;
    flex         : 0 0 auto;
}

.food-content {
    text-align: center;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
}

.hot-grid {
    width           : 50%;
    padding         : 0.5rem;
    background-color: $white;

    @include md {
        width: 100%;
    }
}

.hot-card {
    width        : 100%;
    height       : 100%;
    overflow     : hidden;
    border-radius: 1.25rem;
    box-shadow   : 2px 2px 5px $g500;
    flex         : 0 0 auto;
}

.hot-row {
    @include flex;
    height: 100%;
}

.hot-pic {
    padding-top: 29%;
    width      : 60%;
    height     : auto;
    @include bg-center-cover;

    @media (max-width: 960px) {
        @include none;
    }
}

.hot-body {
    width  : 40%;
    padding: 1em;
    @include flex_column;

    .p-s {
        @include mb1;
        color: $g300;
    }

    @media (max-width: 960px) {
        width: 100%;
    }
}

.hot-title {
    @include my1;

    .l-h3 {
        font-weight: bold;
        color      : $b100;
    }
}

.p-s-auto {
    margin-top: auto;
    @include mb1;
    font-weight: bold;
    color      : $b100;
}

.hotel-swiper {
    width: 100%;
    @include px2;

    @include md {
        @include px1;
    }

    .swiper {
        width: 100%;
    }
}


.togo-text {
    padding: 0.5rem;
}

.hotelSwiper {
    .swiper-slide {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: flex-end;
        padding        : 0.5rem;
        flex           : 0 0 auto;
    }

    @include hotelSwiper {
        .swiper-slide:first-child {
            transition: transform 100ms;
        }

        .swiper-slide:first-child img {
            transition: box-shadow 500ms;
        }

        .swiper-slide.swiper-slide-active:first-child {
            transform: translateX(0%);
            z-index  : 2;
        }

        .swiper-slide.swiper-slide-active:first-child img {
            box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
        }

        .swiper-slide:nth-child(2) {
            transition: transform 100ms;
        }

        .swiper-slide.swiper-slide-next:nth-child(2) {
            transform: translateX(1%);
            z-index  : 1;
        }

        .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
            transform: translateX(-50%);
        }

        .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
            transform: translateX(-55%);
        }
    }
}

.hotel-card {
    @include l-117card;
    @include bg-center-cover;

    @include md {
        width      : 100%;
        padding-top: 100%;
    }

    .bi-bookmark-fill {
        position : absolute;
        font-size: $text_m;
        color    : $white;
        top      : 5%;
        right    : 5%;
        translate: 50%;
    }
}

.hotel-text {
    padding: 1rem;
    p{
        @include my02;
    }
    .b {
        @include flex_between;
        align-items: center;
    }

    .l-h4 {
        color      : $b100;
        font-weight: bold;
    }
}




// .wrap {
//     margin-top  : 41px;
//     padding : 10px 5px;
//     overflow: hidden;

//     img {
//         max-width: 100%;
//         height   : auto;
//     }

//     @include sm {
//         margin-right: 10px;
//         margin-left : 10px;
//     }
// }

// .card-100pa {
//     @include l-card;
//     @include center-cover;
//     overflow     : hidden;
//     border-radius: 20px;
//     padding-top  : 100%;
//     flex         : 0 0 auto;
// }

// .row {
//     @include flex;
//     flex-wrap: wrap;
//     margin   : -5px;
// }

// .col {
//     width  : 25%;
//     padding: 5px;
//     flex   : 0 0 auto;

//     @include sm {
//         width: 50%;
//     }
// }


/*footer*/

.footer {
    @include flex_between;
    background-color: $footer;
    padding         : 3% 2%;

    .logo {
        @include hide-text;
        background: url(../images/logo-02.png) no-repeat;
        width     : 309px;
        height    : 47px;
    }
}

.footer_logo {
    width: 20%;

    li:nth-child(2) {
        @include flex_start;
        align-items: center;

        a {
            display: block;
            margin : 5% 4% auto 0;
        }
    }
}

.footer_detial {

    a {
        color : $white;
        margin: 5% 0 auto 0;
    }

    li {
        ul {
            @include flex_between;
        }
    }

    li:nth-child(2) {
        ul {
            li:nth-child(2) {
                a {
                    font-size: $text_s;
                }
            }
        }
    }
}

@include md {
    .footer {
        @include flex_column;
    }

    .footer_logo {
        width: 100%;
        @include flex_between;
        align-items: center;
    }

    .footer_detial {
        width : 90%;
        margin: 5% auto;

        li:nth-child(2) {
            ul {
                @include flex_column;
                align-items: flex-end;
                margin     : 5% auto;

                li:nth-child(2) {
                    a {
                        font-size: $text_s;
                    }
                }
            }
        }
    }
}

/*footer end*/