@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.image {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Microsoft JhengHei', 微軟正黑體,system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.l-h2 {
  font-size: 3rem;
  font-weight: bold;
}

@media (max-width: 960px) {
  .l-h2 {
    font-size: 2rem;
  }
}

.l-h3 {
  font-size: 2rem;
}

.l-h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  color: #9C9C9C;
  display: block;
}

a:hover {
  color: #58585859;
}

.p-s {
  font-size: 1rem;
}

.p-m {
  font-size: 1.5rem;
}

.p-m-w {
  font-size: 1.5rem;
  color: #ffffff;
}

@media (max-width: 960px) {
  .p-m-w {
    font-size: 1rem;
  }
}

.p-l {
  font-size: 2rem;
}

@media (max-width: 960px) {
  .p-l {
    font-size: 1.5rem;
  }
}

.bi-clock-fill,
.bi-geo-alt-fill {
  color: #FFEC3D;
}

.bi-clock-fill,
.bi-eye,
.bi-heart,
.bi-geo-alt-fill {
  margin: 0 5px;
}

.y200 {
  background-color: #FFEC3D;
}

@media (max-width: 960px) {
  .md-none {
    display: none;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1672px;
}

@media (max-width: 1140px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 960px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.bg {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-position: center center;
  background-size: cover;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 1140px) {
  .row {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

@media (max-width: 960px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

.row-column-md-none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 1140px) {
  .row-column-md-none {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

@media (max-width: 960px) {
  .row-column-md-none {
    display: none;
  }
}

.row-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 1140px) {
  .row-column {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

@media (max-width: 960px) {
  .row-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

/*header*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px #58585859;
          box-shadow: 0 2px 5px #58585859;
}

.logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  background: url(../images/logo.jpg) no-repeat;
  width: 227px;
  height: 34px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 70%;
}

.navbar a {
  display: block;
  padding-bottom: 4px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 1.5rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar a:hover {
  -webkit-box-shadow: 0 3px #616161;
          box-shadow: 0 3px #616161;
}

.phone-navbar {
  display: none;
}

@media (max-width: 960px) {
  .header {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2.5rem;
    right: 0;
    left: 0;
    max-height: 0;
    text-align: center;
    overflow: hidden;
    z-index: 999;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    background-color: #ffffff;
  }
  .phone-navbar {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.5rem;
  }
  .phone-navbar a:hover {
    color: #616161;
  }
  .show {
    max-height: 75rem;
    padding: 0.5rem 0;
  }
  .show a {
    padding: 0.5rem 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .show a:hover {
    -webkit-box-shadow: 0 0.7px #58585859;
            box-shadow: 0 0.7px #58585859;
  }
}

/*banner*/
.banner-lg {
  margin-top: 2rem;
}

.banner-lg .swiper {
  max-width: 100%;
  height: auto;
}

.banner-lg .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner-lg .swiper-slide img {
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

/*banner end*/
/*togo+swiper*/
.togo-title {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 960px) {
  .togo-title {
    width: 100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.togo-title img {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

@media (max-width: 960px) {
  .togo-title img {
    display: none;
  }
}

.togo-swiper {
  width: 70%;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 960px) {
  .togo-swiper {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.togo-swiper .swiper {
  width: 100%;
}

.togo-text {
  padding: 0.5rem;
}

.togoSwiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media only screen and (min-width: 720px) {
  .togoSwiper .swiper-slide:first-child {
    -webkit-transition: -webkit-transform 100ms;
    transition: -webkit-transform 100ms;
    transition: transform 100ms;
    transition: transform 100ms, -webkit-transform 100ms;
  }
  .togoSwiper .swiper-slide:first-child img {
    -webkit-transition: -webkit-box-shadow 500ms;
    transition: -webkit-box-shadow 500ms;
    transition: box-shadow 500ms;
    transition: box-shadow 500ms, -webkit-box-shadow 500ms;
  }
  .togoSwiper .swiper-slide.swiper-slide-active:first-child {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    z-index: 2;
  }
  .togoSwiper .swiper-slide.swiper-slide-active:first-child img {
    -webkit-box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }
  .togoSwiper .swiper-slide:nth-child(2) {
    -webkit-transition: -webkit-transform 100ms;
    transition: -webkit-transform 100ms;
    transition: transform 100ms;
    transition: transform 100ms, -webkit-transform 100ms;
  }
  .togoSwiper .swiper-slide.swiper-slide-next:nth-child(2) {
    -webkit-transform: translateX(55%);
            transform: translateX(55%);
    z-index: 1;
  }
  .togoSwiper .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .togoSwiper .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    -webkit-transform: translateX(-55%);
            transform: translateX(-55%);
  }
}

.swiper-card,
.topten-card {
  overflow: hidden;
  border-radius: 1.25rem;
  width: 100%;
  padding-top: 100%;
  position: relative;
  -webkit-box-shadow: 2px 2px 5px #58585859;
          box-shadow: 2px 2px 5px #58585859;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 960px) {
  .swiper-card,
  .topten-card {
    width: 100%;
    padding-top: 100%;
  }
}

.swiper-card .bi-bookmark-fill,
.topten-card .bi-bookmark-fill {
  position: absolute;
  font-size: 1.5rem;
  color: #ffffff;
  top: 5%;
  right: 5%;
  translate: 50%;
}

.swiper-position,
.topten-position {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.swiper-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-titleradius {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ffffff;
  border-radius: 0 50px 50px 0;
  padding: 2% 6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-titleradius .p-s {
  padding-bottom: 0;
  color: #000000;
}

.swiper-titleradius img {
  margin-right: 10%;
}

.swiper-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  padding: 2% 6%;
}

.swiper-data p {
  padding-bottom: 0;
}

.swiper-text {
  background-color: #ffffff;
  padding: 2%;
  text-align: left;
}

.swiper-text .l-h3 {
  color: #000000;
  font-weight: bold;
}

.swiper-text p {
  color: #616161;
  margin: 10px 0;
  font-weight: bold;
}

.l-h2,
.p-l {
  margin-bottom: 30px;
}

@media (max-width: 960px) {
  .l-h2,
  .p-l {
    margin-bottom: 15px;
  }
}

/*togo+swiper end*/
.title {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

@media (max-width: 960px) {
  .title {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.title .l-h2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, rgba(255, 255, 255, 0)), color-stop(90%, #FFF176), color-stop(95%, transparent));
  background: linear-gradient(transparent 40%, rgba(255, 255, 255, 0) 40%, #FFF176 90%, transparent 95%);
  padding: 2px 1px;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.5rem;
}

@media (max-width: 960px) {
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-content: center;
  }
}

.topten-wrap,
.food-wrap, .hot-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 960px) {
  .topten-wrap,
  .food-wrap, .hot-wrap {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.topten-grid {
  width: 20%;
  padding: 0.5rem;
}

@media (max-width: 960px) {
  .topten-grid {
    width: 50%;
  }
}

.topten-content {
  padding: 2%;
  text-align: left;
}

.topten-content .p-s {
  color: #000000;
  display: inline;
  padding: 0 10px;
  border-radius: 10px;
}

.topten-content .l-h4 {
  color: #ffffff;
}

.topten-content .bi-geo-alt-fill {
  margin: 0;
}

.food-banner {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  position: relative;
}

@media (max-width: 960px) {
  .food-banner {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.food-banner a {
  height: 30rem;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-radius: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0.5rem;
}

.food-banner .p-m {
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  position: absolute;
  left: 60px;
  bottom: 51px;
}

@media (max-width: 960px) {
  .food-banner .p-m {
    width: 80%;
    font-size: 1rem;
    position: absolute;
    left: auto;
    right: auto;
    bottom: 51px;
  }
}

.food-grid {
  width: 25%;
  padding: 0.5rem;
}

@media (max-width: 960px) {
  .food-grid {
    width: 50%;
  }
}

.food-card {
  padding-top: 106%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  border-radius: 1.25rem;
  position: relative;
  -webkit-box-shadow: 2px 2px 5px #58585859;
          box-shadow: 2px 2px 5px #58585859;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.food-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hot-grid {
  width: 50%;
  padding: 0.5rem;
  background-color: #ffffff;
}

@media (max-width: 960px) {
  .hot-grid {
    width: 100%;
  }
}

.hot-card {
  padding-top: 29%;
  width: 100%;
  overflow: hidden;
  border-radius: 1.25rem;
  -webkit-box-shadow: 2px 2px 5px #58585859;
          box-shadow: 2px 2px 5px #58585859;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.pic-card {
  width: 30%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.hot-content {
  width: 70%;
}

/*footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #434343;
  padding: 3% 2%;
}

.footer .logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  background: url(../images/logo-02.png) no-repeat;
  width: 309px;
  height: 47px;
}

.footer_logo {
  width: 20%;
}

.footer_logo li:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_logo li:nth-child(2) a {
  display: block;
  margin: 5% 4% auto 0;
}

.footer_detial a {
  color: #ffffff;
  margin: 5% 0 auto 0;
}

.footer_detial li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_detial li:nth-child(2) ul li:nth-child(2) a {
  font-size: 1rem;
}

@media (max-width: 960px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_detial {
    width: 90%;
    margin: 5% auto;
  }
  .footer_detial li:nth-child(2) ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 5% auto;
  }
  .footer_detial li:nth-child(2) ul li:nth-child(2) a {
    font-size: 1rem;
  }
}

/*footer end*/
/*# sourceMappingURL=all.css.map */