@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

.body {
  font-family: arial, "Microsoft JhengHei", "Noto Sans CJK TC", "微軟正黑體", sans-serif;
  cursor: pointer;
  cursor: auto;
  line-height: 2;
}

/*header*/
.wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  background: url(../images/logo.jpg) no-repeat;
  width: 227px;
  height: 34px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 0 2em;
}

.navbar .navbar-bnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.navbar .navbar-bnt a {
  color: #585858;
}

.navbar .navbar-bnt a:hover {
  -webkit-box-shadow: 0 3px;
          box-shadow: 0 3px;
  padding-bottom: 1px;
  color: #252525;
}

/*banner*/
.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*banner end*/
/*togo*/
.main {
  width: 100%;
}

.togo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1920px;
  overflow: hidden;
}

.togo .togo_title {
  width: 30%;
  margin: 5%;
}

.togo .togo_title h2 {
  font-size: 48px;
  color: #000000;
}

.togo .togo_title h3 {
  font-size: 32px;
  color: #000000;
  line-height: 1.5;
}

.togo .togo_title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.togo .togo_title ul li {
  margin-right: 5%;
}

.togo .togo_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 70%;
}

.togo .togo_area .togo_item {
  width: 30%;
  border-radius: 20px;
  margin: 5% 3%;
  -webkit-box-shadow: #9C9C9C 3px 3px 5px;
          box-shadow: #9C9C9C 3px 3px 5px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.togo .togo_area .togo_item .togo_img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.togo .togo_area .togo_item .togo_img_mark {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 10%;
  height: auto;
}

.togo .togo_area .togo_item .togo_img_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 50%;
}

.togo .togo_area .togo_item .togo_img_info .togo_img_info_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  background-color: #ffffff;
  border-radius: 0 2em 2em 0;
  padding: 1% 0 1% 5%;
}

.togo .togo_area .togo_item .togo_img_info .togo_img_info_name p {
  font-size: 16px;
  margin-left: 2%;
}

.togo .togo_area .togo_item .togo_img_info .togo_img_info_detial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.togo .togo_area .togo_item .togo_img_info .togo_img_info_detial .togo_img_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

.togo .togo_area .togo_item .togo_img_info .togo_img_info_detial .togo_img_info_item img {
  display: block;
  width: 10px;
  height: 11px;
  margin: 0 3%;
}

.togo .togo_area .togo_item .togo_img_info .togo_img_info_detial .togo_img_info_item p {
  color: #ffffff;
}

.togo .togo_area .togo_item .togo_detail {
  padding: 4%;
}

.togo .togo_area .togo_item .togo_detail > p {
  font-size: 24px;
  color: #585858;
  margin: 3% 0;
}

.togo .togo_area .togo_item .togo_detail .card_text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  margin-left: 3%;
}

.togo .togo_area .togo_item .togo_detail .card_text li img {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto 8px auto 0;
}

.togo .togo_area .togo_item .togo_detail .card_text li img > p {
  font-size: 16px;
  color: #585858;
}

/*
 .togo_location {
    @include flex_start;
    width   : 70%;
    overflow: hidden;

    .togo_location_item {
        width        : 33.333%;
        height       : auto;
        box-shadow   : $shadow_color 3px 3px 5px;
        overflow     : hidden;
        position     : relative;
        border-radius: 20px;
        margin       : 3% 2%;
        flex-shrink  : 0;

        .crad_pic {
            display : block;
            width   : 100%;
            margin-bottom: 40%;
            position: absolute;
            top     : 0;
            bottom  : 0;
            right   : 0;
            left    : 0;
            z-index : 1;

        }

        .card_mark {
            position: absolute;
            top     : 2%;
            right   : 2%;
        }

        .crad_pic_info {
            @include flex_between;
            width   : 100%;
            position: absolute;
            top     : 50%;
            z-index : 80;

            .card_name {
                @include flex_start;
                align-items     : center;
                background-color: $basic_color;
                width           : 35%;
                height          : auto;
                padding         : .8%;
                border-radius   : 0 36px 36px 0;
                font-size       : $text_m;
                color           : $main_color;
                line-height     : 23px;

                p {
                    font-size: text_m;
                    color    : $sec_color;
                }
            }

            .card_info {
                @include flex_end;
                z-index     : 97;
                width       : 65%;
                margin-right: 1%;

                .card_info_item {
                    @include flex;
                    align-items: center;
                    margin-left: 3%;

                    p {
                        color      : $basic_color;
                        margin-left: 5px;
                    }

                    img {
                        width : 10px;
                        height: 11px;
                    }
                }
            }

        }

        .card_content {
            position        : absolute;
            top             : 60%;
            left            : 0;
            right           : 0;
            bottom          : 0;
            z-index         : 99;
            background-color: $basic_color;

            >p {
                font-size  : $text_l;
                color      : $main_color;
                margin-top : 5%;
                margin-left: 3%;
            }

            .card_text {
                margin-left  : 3%;
                margin-bottom: 5%;

                li {
                    @include flex;

                    img {
                        display: block;
                        width  : 20px;
                        height : 20px;
                        margin : auto 8px auto 0;

                        >p {
                            font-size: $text_m;
                            color    : $sec_color;
                        }
                    }

                }

            }
        }

    }
}

togo end

 hottop
.hottop {
    @include flex_column;
    width           : 100%;
    height          : auto;
    align-items     : center;
    background-color: $basic_color;

    h2 {
        font-size  : $title_h2;
        color      : $main_color;
        line-height: 1.5;
        margin     : 55px;
    }

    .hottop_title {
        @include flex_between;
        align-items: center;
        margin     : 0 20px;
    }
}

.hottop_location {
    @include flex_between;
    align-items: center;
    margin     : 0 20px;

    @include tablet() {
        flex-wrap: wrap;
    }

    >li {
        display      : block;
        width        : 352px;
        height       : 347px;
        border-radius: 20px;
        box-shadow   : $shadow_color 3px 3px 5px;
        overflow     : hidden;
        position     : relative;
        margin       : 0 20px;

        @include tablet() {
            margin-bottom: 4%;
        }
    }

    .card_name {
        @include flex_center;
        align-items     : center;
        position        : absolute;
        z-index         : 98;
        bottom          : 100px;
        left            : 20px;
        background-color: $thr_color;
        width           : 80px;
        height          : 32px;
        border-radius   : 20px;

        p {
            font-size  : text_m;
            color      : $sec_color;
            font-weight: bold;
        }
    }

    .card_content {
        margin: 1% auto 3% 5%;

        p {
            font-size  : $text_l;
            color      : $basic_color;
            font-weight: bold;
            line-height: 1.5;
        }

        .card_text {
            width: 100%;

            li {
                @include flex;
            }

            p {
                font-size  : $text_m;
                color      : $basic_color;
                font-weight: bold;
                line-height: 1.5;
            }
        }

    }
}
*/
/*# sourceMappingURL=all.css.map */