@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

.body {
  font-family: arial, "Microsoft JhengHei", "Noto Sans CJK TC", "微軟正黑體", sans-serif;
}

/*header*/
.wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  background: url(../images/logo.jpg) no-repeat;
  width: 227px;
  height: 34px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 0 2em;
}

.navbar .navbar-bnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  cursor: pointer;
  cursor: auto;
}

.navbar .navbar-bnt a {
  color: #585858;
}

.navbar .navbar-bnt a:hover {
  -webkit-box-shadow: 0 3px;
          box-shadow: 0 3px;
  padding-bottom: 1px;
  color: #252525;
}

/*banner*/
.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*banner end*/
/*togo*/
.togo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1% 0;
}

.togo_title h2 {
  font-size: 2.5em;
  color: #000000;
}

.togo_title h3 {
  font-size: 2em;
  color: #000000;
}

.togo_title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.togo_title ul li {
  margin-right: 5%;
  width: 10%;
  height: auto;
}

.togo_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 70%;
  overflow: hidden;
}

.togo_area .togo_item {
  min-width: 30%;
  border-radius: 20px;
  margin: 2%;
  -webkit-box-shadow: #9C9C9C 3px 3px 5px;
          box-shadow: #9C9C9C 3px 3px 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  cursor: auto;
}

.togo_img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.togo_img_mark {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 10%;
  height: auto;
}

.togo_img_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 55%;
}

.togo_img_info_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  background-color: #ffffff;
  border-radius: 0 2em 2em 0;
  padding: 1% 0 1% 5%;
}

.togo_img_info_name p {
  font-size: 1em;
  margin-left: 2%;
}

.togo_img_info_detial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.togo_img_info_detial .togo_img_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

.togo_img_info_detial .togo_img_info_item img {
  display: block;
  width: 10px;
  height: 11px;
  margin: 0 3%;
}

.togo_img_info_detial .togo_img_info_item p {
  color: #ffffff;
}

.togo_detail {
  margin-left: 2%;
  margin-top: 5%;
}

.togo_detail p {
  font-size: 1.5em;
  color: #7e7e7e;
  margin: 1% 0;
}

.togo_detail .togo_detail_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 2%;
}

.togo_detail .togo_detail_text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.togo_detail .togo_detail_text li img {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 1%;
}

.togo_detail .togo_detail_text li > p {
  font-size: 1em;
  color: #000000;
}

/*togoend*/
/*hottop*/
.hottop {
  background: url(../images/bg-01.png);
  margin: 1% 0;
  padding: 2%;
}

.hottop h2 {
  font-size: 2.5em;
  color: #000000;
  text-align: center;
  margin-bottom: 1%;
}

.hottop .hottop_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hottop .hottop_area .hottop_bnt img {
  display: block;
  width: 60%;
  height: auto;
}

.hottop .hottop_area .hottop_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.hottop .hottop_area .hottop_list .hottop_item {
  position: relative;
  width: 30%;
  height: auto;
  margin: 0 1%;
}

.hottop .hottop_area .hottop_list .hottop_item .hottop_mark {
  position: absolute;
  z-index: 99;
  top: 5%;
  right: 5%;
  width: 10%;
  height: auto;
}

.hottop_detail {
  width: 80%;
  position: absolute;
  bottom: 3%;
  left: 5%;
}

.hottop_detail p {
  color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 1%;
}

.hottop_detail .hottop_text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hottop_detail .hottop_text li img {
  display: block;
  width: 10px;
  height: 11px;
  margin: 0 3%;
}

.hottop_detail .hottop_text li p {
  font-size: 1em;
  color: #ffffff;
}

/*hottop end*/
/*food_map*/
.food h2 {
  font-size: 2.5em;
  color: #000000;
  margin: 2% 0;
  text-align: center;
}

.food .food_map {
  position: relative;
  text-align: center;
}

.food .food_map .food_map_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  left: 10%;
  bottom: 5%;
  background-color: #ffffff;
  border-radius: 30px;
  padding: .5%;
}

.food .food_map .food_map_text p {
  color: #585858;
  font-size: 1em;
}

.food .food_map .food_map_text img {
  width: 5%;
  height: auto;
}

.food .food_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 87%;
  margin: 2% auto;
}

.food .food_area .food_area_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  position: relative;
}

.food .food_area .food_area_item .food_area_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food .food_area .food_area_item .food_area_text img {
  display: block;
  width: 70%;
  height: auto;
  margin-bottom: 2%;
}

.food .food_area .food_area_item .food_area_text p {
  color: #ffffff;
  font-size: 1em;
}

.food .food_area .food_area_bn {
  border-radius: 20px;
  overflow: hidden;
}

.food .food_area .food_area_bn img {
  width: 100%;
}

.food .food_area .food_area_bn a {
  cursor: pointer;
  cursor: auto;
}
/*# sourceMappingURL=all.css.map */