@charset "UTF-8";
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

.body {
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", 微軟正黑體, "sans-serif", "Noto Sans CJK TC";
}

/*header*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 5px #9c9c9c;
          box-shadow: 0 2px 5px #9c9c9c;
}

.logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  background: url(../images/logo.jpg) no-repeat;
  width: 227px;
  height: 34px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  cursor: auto;
  min-width: 70%;
}

.navbar a {
  display: block;
  padding-bottom: 4px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #585858;
  font-size: 1.5rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar a:hover {
  -webkit-box-shadow: 0 3px #252525;
          box-shadow: 0 3px #252525;
}

.phone-navbar {
  display: none;
}

@media (max-width: 769px) {
  .header {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .swiper {
    margin-top: 41px;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    max-height: 0;
    text-align: center;
    overflow: hidden;
    z-index: 999;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    background-color: #ffffff;
  }
  .phone-navbar {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 1.5rem;
  }
  .phone-navbar a {
    color: #585858;
  }
  .phone-navbar a:hover {
    color: #252525;
  }
  .show {
    max-height: 1200px;
    padding: 0.5rem 0;
  }
  .show a {
    padding: 0.5rem 0;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .show a:hover {
    -webkit-box-shadow: 0 0.7px #58585859;
            box-shadow: 0 0.7px #58585859;
  }
}

/*banner*/
.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/*banner end*/
/*togo*/
.wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.togo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1% 0;
}

@media (max-width: 769px) {
  .togo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.togo_title {
  width: 30%;
}

.togo_title h2 {
  font-size: 2rem;
  color: #000000;
}

.togo_title h3 {
  font-size: 1.7rem;
  color: #000000;
}

.togo_title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.togo_title ul li {
  margin-right: 2%;
  max-width: 100%;
  height: auto;
}

@media (max-width: 769px) {
  .togo_title {
    width: 100%;
    text-align: center;
  }
  .togo_title ul {
    display: none;
  }
}

.togo_area {
  /*@include flex_start;*/
  width: 70%;
  overflow: hidden;
}

@media (max-width: 769px) {
  .togo_area {
    width: 100%;
  }
}

.togo_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  cursor: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center top;
  background-repeat: no-repeat;
  max-width: 400px;
  border-radius: 20px;
  margin: 1%;
  -webkit-box-shadow: #9c9c9c 3px 3px 5px;
          box-shadow: #9c9c9c 3px 3px 5px;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.togo_img_mark img {
  display: block;
  width: 10%;
  height: auto;
  margin: 5% 5% auto auto;
}

.togo_img_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
  margin-top: 50%;
}

.togo_img_info_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  background-color: #ffffff;
  border-radius: 0 2em 2em 0;
  padding: 1% 0 1% 5%;
}

.togo_img_info_detial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.togo_img_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
}

.togo_img_info_item img {
  display: block;
  width: 10px;
  height: 11px;
  margin: 0 3%;
}

.togo_img_info_item p {
  color: #ffffff;
}

.togo_detail {
  background-color: #ffffff;
  padding: 3%;
}

.togo_detail p {
  font-size: 1.5rem;
  color: #7e7e7e;
}

.togo_detail_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 2%;
}

.togo_detail_text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5%;
}

.togo_detail_text img {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 1%;
}

.togo_detail_text p {
  font-size: 1em;
  color: #252525;
}

/*togoend*/
/*hottop*/
.hottop,
.latestact {
  background: url(../images/bg-01.png);
  margin: 1% 0;
  padding: 2%;
}

.hottop h2,
.latestact h2 {
  font-size: 2rem;
  color: #000000;
  text-align: center;
}

.hottop_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hottop_bnt img {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.hottop_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  overflow: hidden;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.hottop_js {
  padding: 2rem;
}

.hottop_item {
  position: relative;
  max-width: 400px;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.hottop_item img {
  display: block;
  width: 100%;
}

.hottop_rank .rank img {
  position: absolute;
  z-index: 80;
  width: 7%;
  height: auto;
  -webkit-transform: translate(10%, 5%);
          transform: translate(10%, 5%);
}

.hottop_rank img {
  position: absolute;
  z-index: 70;
  width: 15%;
  height: auto;
  -webkit-transform: translate(-20%, -35%);
          transform: translate(-20%, -35%);
}

.hottop_mark {
  position: absolute;
  z-index: 99;
  top: 5%;
  right: 5%;
  width: 10%;
  height: auto;
}

.hottop_detail {
  width: 80%;
  position: absolute;
  bottom: 3%;
  left: 5%;
}

.hottop_detail > p {
  display: inline;
  background-color: #ffff00;
  border-radius: 10px;
  color: #000000;
  font-size: 1rem;
  padding: 1% 5%;
}

.hottop_text li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3%;
}

.hottop_text li img {
  display: block;
  width: 10%;
  height: auto;
  margin: 0 3%;
}

.hottop_text li h4 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 6%;
}

.hottop_text li p {
  font-size: 1rem;
  color: #ffffff;
}

@media (max-width: 769px) {
  .hottop_js {
    padding: 1%;
  }
  .hottop_bnt img {
    display: none;
  }
  .hottop_list {
    width: 100%;
  }
  .hottop_rank .rank img {
    width: 6%;
  }
  .hottop_rank img {
    width: 20%;
  }
}

/*hottop end*/
/*food_map*/
.food h2,
.lodging h2 {
  font-size: 2rem;
  color: #000000;
  margin: 2% auto;
  text-align: center;
}

.food_map {
  position: relative;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.food_map_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 90;
  left: 10%;
  bottom: 10%;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 0.5%;
}

.food_map_text p {
  color: #585858;
  font-size: 1.5rem;
}

.food_map_text img {
  width: 5%;
  height: auto;
}

.food_area,
.latestact_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 2% auto;
}

.food_area_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  height: auto;
  position: relative;
  margin: 0 0.5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food_area_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 99;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food_area_text img {
  width: 60%;
  height: auto;
  margin-bottom: 2%;
}

.food_area_text p {
  color: #ffffff;
  font-size: 1.5rem;
}

.food_area_bn {
  border-radius: 20px;
  overflow: hidden;
}

.food_area_bn img {
  width: 100%;
}

.food_area_bn a {
  cursor: pointer;
  cursor: auto;
}

@media (max-width: 769px) {
  .food_area {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0.5% auto;
  }
  .food_area_item {
    width: 48%;
    margin: 1% 0;
  }
  .food_map_text {
    -webkit-transform: translate(50% 50%);
            transform: translate(50% 50%);
    padding: 0.5%;
    border-radius: 5px;
  }
  .food_map_text p {
    font-size: 1rem;
  }
  .food_area_text img {
    width: 60%;
    height: auto;
  }
  .food_area_text p {
    font-size: 1rem;
  }
}

/*food_map end*/
/*latestact*/
.latestact_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.latestact_areacontrol {
  width: 50%;
  padding: 1%;
}

.latestact_item {
  border-radius: 20px;
  overflow: hidden;
  background-color: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  -webkit-box-shadow: #9c9c9c 3px 3px 5px;
          box-shadow: #9c9c9c 3px 3px 5px;
}

.latestact_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

.latestact_content {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
}

.latestact_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2%;
}

.latestact_maintitle {
  font-size: 1.5rem;
}

.latestact_tag {
  font-size: 1rem;
}

.latestact_tag p {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, rgba(255, 255, 255, 0)), color-stop(90%, #FFF176), color-stop(95%, transparent));
  background: linear-gradient(transparent 40%, rgba(255, 255, 255, 0) 40%, #FFF176 90%, transparent 95%);
  padding: 2px 1px;
}

.latestact_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: auto;
}

.latestact_footer img {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 769px) {
  .latestact_areacontrol {
    width: 100%;
    padding: 0.5%;
    margin: 1%;
  }
  .latestact_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latestact_img,
  .latestact_content {
    width: 90%;
  }
  .latestact_img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .latestact_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/*page-latestact.html */
.latestact_wrap {
  width: 100%;
  height: 100%;
  margin-bottom: auto;
}

.container {
  padding: 40px 20px;
}

.latestact_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
}

.latestact_col {
  padding: -15px;
}

.latestact_crad {
  position: relative;
  max-width: 397px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: #9c9c9c 3px 3px 5px;
          box-shadow: #9c9c9c 3px 3px 5px;
  margin: 15px;
}

.latestact_crad img {
  display: block;
}

.latestact_icon {
  max-width: 45px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 700;
}

.latestact_text {
  position: absolute;
  z-index: 701;
  right: 0;
  left: 0;
  bottom: 0;
}

.latestact_text {
  padding: 20px;
}

.latestact_text p {
  display: inline;
  background-color: #ffff00;
  border-radius: 50px;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding: 1% 5%;
}

.latestact_text h4 {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: bold;
  margin: 0.5rem 0;
}

.latestact_text .latestact_cradfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #ffffff;
}

@media (max-width: 950px) {
  .latestact_row {
    margin: 5px;
  }
  .latestact_col {
    padding: -5px;
  }
  .latestact_crad {
    max-width: 200px;
    margin: 5px;
  }
  .latestact_icon {
    max-width: 30px;
  }
  .latestact_text {
    padding: 10px;
  }
  .latestact_text h4 {
    font-size: 1.5rem;
  }
}

/*page-latestact.html end*/
/*latestact end*/
/*lodging*/
.lodging mobile {
  margin: 3% 0;
}

.lodging mobile h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1%;
  text-align: center;
}

.lodging_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.lodging_bnt img {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
}

.lodging_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.lodging_item {
  -o-object-fit: contain;
     object-fit: contain;
  background-position: center top;
  background-repeat: no-repeat;
  border-radius: 20px;
  -webkit-box-shadow: #9c9c9c 3px 3px 5px;
          box-shadow: #9c9c9c 3px 3px 5px;
  overflow: hidden;
  max-width: 350px;
  height: auto;
  margin: 1%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.lodging_content {
  margin-top: 60%;
  padding: 5%;
  background-color: #ffffff;
}

.lodging_content li:nth-child(1) {
  margin: 1% 0;
}

.lodging_content li:nth-child(1) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lodging_content li:nth-child(1) ul p {
  color: #000000;
}

.lodging_content li:nth-child(1) ul li:nth-child(1) p {
  font-weight: bold;
}

.lodging_content li:nth-child(1) ul li:nth-child(2) {
  background-color: #ffff00;
  border-radius: 20px;
  padding: 0.5% 3%;
}

.lodging_content li:nth-child(1) ul li:nth-child(2) p {
  color: #000000;
  font-weight: bolder;
}

.lodging_content li:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1% 0;
}

.lodging_content li:nth-child(2) p {
  color: #7e7e7e;
  font-size: 1rem;
}

.lodging_content li:nth-child(3) {
  margin: 1% 0;
}

.lodging_content li:nth-child(3) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lodging_content li:nth-child(3) ul li {
  padding-right: 3%;
}

.lodging_content li:nth-child(3) ul li p {
  font-weight: bolder;
  color: #000000;
}

/*lodging end*/
/*footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #434343;
  padding: 3% 2%;
}

.footer .logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  background: url(../images/logo-02.png) no-repeat;
  width: 309px;
  height: 47px;
}

.footer_logo {
  width: 20%;
}

.footer_logo li:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_logo li:nth-child(2) a {
  display: block;
  margin: 5% 4% auto 0;
}

.footer_detial a {
  color: #ffffff;
  margin: 5% 0 auto 0;
  cursor: pointer;
  cursor: auto;
}

.footer_detial li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_detial li:nth-child(2) ul li:nth-child(2) a {
  color: #9c9c9c;
  font-size: 1rem;
}

@media (max-width: 769px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_detial {
    width: 90%;
    margin: 5% auto;
  }
  .footer_detial li:nth-child(2) ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 5% auto;
  }
  .footer_detial li:nth-child(2) ul li:nth-child(2) a {
    color: #9c9c9c;
    font-size: 1rem;
  }
}

/*footer end*/
/*# sourceMappingURL=all.css.map */