                /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
                
                html,
                body,
                div,
                span,
                applet,
                object,
                iframe,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                blockquote,
                pre,
                a,
                abbr,
                acronym,
                address,
                big,
                cite,
                code,
                del,
                dfn,
                em,
                img,
                ins,
                kbd,
                q,
                s,
                samp,
                small,
                strike,
                strong,
                sub,
                sup,
                tt,
                var,
                b,
                u,
                i,
                center,
                dl,
                dt,
                dd,
                ol,
                ul,
                li,
                fieldset,
                form,
                label,
                legend,
                table,
                caption,
                tbody,
                tfoot,
                thead,
                tr,
                th,
                td,
                article,
                aside,
                canvas,
                details,
                embed,
                figure,
                figcaption,
                footer,
                header,
                hgroup,
                menu,
                nav,
                output,
                ruby,
                section,
                summary,
                time,
                mark,
                audio,
                video {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    font-size: 100%;
                    font: inherit;
                    vertical-align: baseline;
                }
                /* HTML5 display-role reset for older browsers */
                
                article,
                aside,
                details,
                figcaption,
                figure,
                footer,
                header,
                hgroup,
                menu,
                nav,
                section {
                    display: block;
                }
                
                body {
                    line-height: 1;
                }
                
                ol,
                ul {
                    list-style: none;
                }
                
                blockquote,
                q {
                    quotes: none;
                }
                
                blockquote:before,
                blockquote:after,
                q:before,
                q:after {
                    content: '';
                    content: none;
                }
                
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                }
                /*以上reset*/
                
                body {
                    font-family: Arial, Helvetica, sans-serif;
                    line-height: 2;
                    cursor: pointer;
                    cursor: auto;
                }
                
                img {
                    max-width: 100%;
                    height: auto;
                }
                
                *,
                *::before,
                *::after {
                    box-sizing: border-box;
                }
                
                a {
                    display: block;
                    text-decoration: none;
                }
                
                .l_f {
                    display: flex;
                }
                
                .l_Pad {
                    padding: 0 0.5%;
                }
                
                .l_title1 {
                    font-size: 18px;
                    font-weight: bold;
                    color: rgb(56, 56, 56);
                }
                
                .l_title2 {
                    font-size: 16px;
                    font-weight: bold;
                    color: rgb(109, 109, 109);
                }
                
                .l_text {
                    color: gray;
                    text-align: left;
                }
                
                .wrap {
                    max-width: 1000px;
                    margin: 0 auto;
                    position: relative;
                }
                
                .snsbra-base {
                    width: 100%;
                    justify-content: flex-end;
                    background-color: rgb(240, 240, 240);
                    margin-bottom: .5%;
                }
                
                .snsbra li,
                .mainbra-nav li {
                    margin-left: 10px;
                    text-align: center;
                }
                
                .snsbra-fb a,
                .snsbra-twitter a {
                    color: rgb(18, 44, 92);
                    transition: 0.5s;
                }
                
                .snsbra-twitter a {
                    color: rgb(66, 148, 180);
                }
                
                .snsbra-fb a:hover,
                .snsbra-twitter a:hover {
                    box-shadow: 0 2px;
                }
                
                .mainbra {
                    width: 100%;
                    justify-content: space-between;
                    box-shadow: 0 1px 5px rgba(206, 206, 206, 0.116);
                    padding: 1% 0;
                    margin-bottom: 2%;
                }
                
                .logo a {
                    background: url(../images/logo.png) no-repeat;
                    width: 170px;
                    height: 36px;
                    text-indent: 101%;
                    overflow: hidden;
                    white-space: nowrap;
                }
                
                .mainbra-nav {
                    width: 45%;
                    justify-content: flex-end;
                }
                
                .mainbra-nav-item,
                .mainbra-dropdown,
                .mainbra-dropdown-open {
                    width: 20%;
                }
                
                .mainbra-dropdown-open a {
                    width: 40%;
                }
                
                .mainbra-nav-item a,
                .mainbra-dropdown a {
                    font-size: 14pt;
                    font-weight: bold;
                    color: rgb(29, 219, 210);
                    transition: 1s;
                    text-align: center;
                }
                
                .mainbra-dropdown-open {
                    position: absolute;
                    z-index: 99;
                }
                
                .mainbra-dropdown-open li a {
                    font-size: 12pt;
                    font-weight: normal;
                    background-color: rgba(255, 255, 255, 0.692);
                }
                
                .mainbra-nav a:hover,
                .mainbra-dropdown .active {
                    box-shadow: 0 2px;
                }
                
                .mainbra-nav .mainbra-dropdown-open {
                    display: none;
                }
                
                .main-content {
                    justify-content: space-around;
                }
                
                .main-content>li {
                    text-align: center;
                    width: 30%;
                    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.288);
                    border-radius: 10px;
                    padding: 2%;
                }
                
                .main-content-ilst .l-title2 {
                    text-align: left;
                }
                
                .main-content-ilst ul {
                    color: gray;
                    list-style-type: square;
                    text-align: left;
                    padding-left: 10%;
                }
                
                @media(max-width: 767px) {
                    .l-title1 {
                        font-size: 20px;
                    }
                    .l-title2 {
                        font-size: 18px;
                    }
                    .snsbra-base {
                        margin-bottom: 2%;
                    }
                    .mainbra {
                        flex-direction: column;
                        margin-bottom: 2%;
                    }
                    .logo a {
                        margin: 0 auto;
                        padding: 5% 0;
                    }
                    .mainbra-nav {
                        width: 100%;
                        flex-wrap: wrap;
                    }
                    .mainbra-nav-item,
                    .mainbra-dropdown,
                    .mainbra-dropdown-open {
                        width: 45%;
                    }
                    .mainbra-dropdown-open a {
                        width: 90%;
                        text-align: center;
                    }
                    .main-content {
                        width: 80%;
                        flex-wrap: wrap;
                        margin: 0 auto;
                    }
                    .main-content>li {
                        width: 99%;
                        margin-bottom: 2%;
                        padding: 5%;
                    }
                    .main-content-ilst .l-title2 {
                        text-align: center;
                    }
                }