/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*以下本網頁*/

body {
    box-sizing: border-box;
    font-family: arial, "Microsoft JhengHei", "Noto Sans CJK TC", "微軟正黑體", sans-serif;
    cursor: pointer;
    cursor: auto;
}

a {
    text-decoration: none;
}

.p-16 {
    font-size: 16px;
    color: #585858;
    line-height: 2;
}

.p-24 {
    font-size: 24px;
    color: #000000;
    line-height: 2;
}

.p-24 a {
    color: #7e7e7e;
    display: block;
}

.logo {
    background: url(/images/logo.jpg) no-repeat;
    display: block;
    width: 227px;
    height: 34px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 40px;
}

.title_h2 {
    font-size: 48px;
    color: #000000;
    line-height: 1.5;
}

.title_h3 {
    font-size: 32px;
    color: #000000;
    line-height: 1.5;
}

.wrap {
    width: 100%;
    margin: 0 auto;
}


/*header*/

.navbar {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.navbar-bnt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 30px;
}

.navbar-bnt a:hover {
    box-shadow: 0 3px;
    padding-bottom: 1px;
    color: #252525;
}


/*banner*/

.swiper {
    width: 100%;
    height: 1000px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*banner end*/


/*不知道要去哪裡嗎?*/

.togo {
    width: 99%;
    display: flex;
    justify-content: space-around;
    margin: 40px 20px;
}

.togo .togo_title>ul {
    display: flex;
}

.togo .togo_title a {
    display: block;
    margin-right: 20px;
}

.togo_location {
    display: flex;
    justify-content: flex-end;
}

.togo_location>li {
    display: block;
    width: 415px;
    height: 446px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: #9C9C9C 3px 3px 5px;
    overflow: hidden;
    position: relative;
    margin-right: 56px;
}

.card_mark {
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 99;
    top: 16px;
    right: 16px;
}

.card_name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 98;
    bottom: 160px;
    left: 0px;
    background-color: #fff;
    width: 119px;
    height: 36px;
    border-radius: 0 36px 36px 0;
}

.card_name img {
    width: 23px;
    height: 23px;
}

.card_name .p-16 {
    color: #000;
    margin-left: 5px;
    line-height: 23px;
}

.card_info {
    display: flex;
    position: absolute;
    z-index: 97;
    bottom: 160px;
    right: 0px;
}

.card_info li {
    display: flex;
    margin: 0 10px;
    align-items: center;
}

.card_info p {
    color: #fff;
    margin-left: 5px;
}

.card_info img {
    width: 11px;
    height: 10px;
}

.card_text {
    width: 100%;
}

.card_text li {
    display: flex;
}

.card_text img {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto 8px auto 0;
}

.card_content {
    position: absolute;
    z-index: 97;
    bottom: 20px;
    left: 20px;
}


/*不知道要去哪裡嗎?結束*/

.hottop {
    width: 99%;
    height: 861px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
}

.hottop_title,
.hottop_location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.hottop .title_h2 {
    font-weight: bold;
    margin: 55px;
}

.hottop .bg_y {
    width: 100px;
    height: 10px;
    background-color: yellow;
}

.hottop_location>li {
    display: block;
    width: 352px;
    height: 347px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: #9C9C9C 3px 3px 5px;
    overflow: hidden;
    position: relative;
    margin: 0 20px;
}

.hottop_location .card_name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 98;
    bottom: 100px;
    left: 20px;
    background-color: yellow;
    width: 80px;
    height: 32px;
    border-radius: 20px;
}

.hottop_location .card_name .p-16 {
    font-weight: bold;
}

.hottop_location .card_content .card_text .p-24 {
    font-weight: bold;
    color: white;
    line-height: 1.5;
}

.hottop_location .card_content .card_text .p-16 {
    color: white;
}