@mixin wrap_pc_center {
    max-width: 1920px;
    margin: 0 auto;
    @content
}

@mixin flex_center {
    display: flex;
    justify-content: center;
}

@mixin flex_between {
    display: flex;
    justify-content: space-between;
}

@mixin flex_around {
    display: flex;
    justify-content: space-around;
}