@import 'reset';
@import 'header';
@import 'media';
@import 'layout';
$link:#808080;
$mobile_bgc:#e7e7eb;
$basic_color:#ffffff;
$text_s:17pt;
$text_m:0.5em;
$text_l:1em;
body {
    font-weight: bold;
    cursor: pointer;
    cursor: auto;
}

.wrap {
    @include wrap_pc_center;
}

.logo {
    @include hide-text;
    background: url(../images/logo.png) no-repeat;
    width: 224px;
    height: 50px;
}

.header {
    @include flex_between;
    max-width: 100%;
    align-items: center;
    position: relative;
    height: 80px;
}

.nav {
    @include flex_center;
    a {
        padding-bottom: 2px;
        /*預先把box-shadow的間距留出來，不然會跳動*/
        transition: 0.5s;
        padding: 0.5em;
        color: $link;
        font-size: $text_m;
    }
    a:hover {
        box-shadow: 0 2px $link;
    }
    @include tablet() {
        flex-direction: column;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        z-index: 100;
        top: 81px;
        left: 0;
        right: 0;
        transition: max-height 0.5s;
        background-color: $basic_color;
    }
}

.nav-phone {
    display: none;
    @include tablet() {
        display: block;
        padding: 0.5em;
    }
}


/*在手機上的選單打開高度*/

.show {
    @include tablet() {
        .nav {
            max-height: 800px;
            a:hover {
                background: $mobile_bgc;
                box-shadow: none;
            }
        }
    }
}