$main-color     : #4CC2B1;
$secondary-color: #378f82;
$g3             :#F1F1F1;
$g4             : #EAEAEA;
$g5             : #C4C4C4;
$g6             : #929292;
$g10            : #3F3F3F;
$white          :#ffffff;
$warning        :#f00;


$fs-1 :10px;
$fs-2 :12px;
$fs-3 :14px;
$fs-4 : 1rem;
$fs-5 : 18px;
$fs-6 : 21px;
$fs-7 : 24px;
$fs-8 : 27px;
$fs-9 :34px;
$fs-10:15px;
$fs-11:8px;
$fa-12:32px;