@import "layout";
@import "flex";
@import "components";
@import "media";

.item {
  @include md {
    @include flex_column;
    border-radius: 2rem;
    overflow     : hidden;
  }

  display     : flex;
  align-items : center;

  a {
    cursor: pointer;
  }

  .pic {
    width      : 55%;
    flex-shrink: 0;

    img {
      width         : 100%;
      vertical-align: middle;
    }

    @include md {
      width: 100%;
    }
  }

  .content {
    width      : 55%;
    flex-shrink: 0;
    position   : relative;
    z-index    : 1;
    padding    : 1rem 24px;
    transition : 0.25s;

    a {
      text-decoration: none;
    }

    @include md {
      width: 100%;
    }
  }

  > :first-child {
    margin-right: -10%;

    @include md {
      margin: 0;
    }
  }
}

.item:nth-child(1) .content {
  background-color: #f4d3cacc;
  color           : rgb(85, 85, 85);
}

.item:nth-child(2) .content {
  background-color: #3f184d7e;
  color           : white;
}

.item:nth-child(2) {
  @include md {
    flex-direction: column-reverse;
  }
}

.item:nth-child(3) .content {
  background-color: #c9e4c3cf;
  color           : rgb(85, 85, 85);
}

.none {
  @include none;
}

.hide{
  @include none;
  @include md{
    @include block;
  }
}

.toClose {
  width       : 10rem;
  align-items : center;
  margin-right: .5rem;

  p {
    color: $white;
  }

  @include md {
    margin-top: 4rem;
  }

}


.resume {
  width        : 100%;
  max-width    : 1200px;
  display      : flex;
  border-radius: 16px;
  overflow     : hidden;
  z-index      : 80;

  a {
    text-decoration: none;
    cursor         : pointer;
    color          : $primary;
  }

  p {
    color: $primary;
  }

  @include md {
    @include flex_column;
  }
}

.resumeLeft,
.resumeRight {
  @include flex_column;
  color  : $earthly;
  padding: 1rem;

}

.resumeLeft {
  width           : 40%;
  background-color: $secondary;

  @include md {
    width: 100%;
  }
}


.resumeList {
  li {
    @include flex;
    padding-bottom: .2rem;
  }

  .bi {
    color       : $earthly;
    margin-right: .5rem;
    font-size   : 1.3rem;
  }

  .resumeIcon {
    img {
      margin-right: .5rem;
    }
  }

}

.resumeProfilo {
  @include flex_center;
  padding: 1rem 0;

  img {
    width        : 50%;
    border-radius: 200rem;
  }
}

.resumeHobby {
  .resumeList {
    @include flex_between;
    padding: 0 .3rem;

    @include md {
      padding: 0;
    }

    li {
      @include flex_column;
      align-items: center;

      .resumeIcon {
        width        : 6rem;
        height       : 6rem;
        border-radius: 100%;
        @include bg-center-cover;
        @include md{
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}

.resumeConent {
  @include flex_column;
}

.resumeRight {
  width           : 60%;
  background-color: $secondary_a;

  @include md {
    width: 100%;
  }
}

.resumeWork {
  ul {
    li {
      position: relative;
    }

    .dot::before {
      content      : '';
      position     : absolute;
      top          : 8px;
      left         : 0px;
      width        : 6px;
      height       : 6px;
      border-radius: 50%;
      border       : 2px solid $earthly;
    }

    .dot::after {
      content   : '';
      position  : absolute;
      top       : 16px;
      left      : 4px;
      width     : 2px;
      height    : 98px;
      background: $earthly;

      @include md {
        height: 120px;
      }
    }

    .dot70::before {
      content      : '';
      position     : absolute;
      top          : 8px;
      left         : 0px;
      width        : 6px;
      height       : 6px;
      border-radius: 50%;
      border       : 2px solid $earthly;
    }

    .dot70::after {
      content   : '';
      position  : absolute;
      top       : 16px;
      left      : 4px;
      width     : 2px;
      height    : 70px;
      background: $earthly;

      @include md {
        height: 138px;
      }
    }
  }
}

.resumeData,
.resumeInfo {
  margin-left: 20px;
}

.dropDown {
  position: absolute;
  top     : -45px;
  right   : 50%;
  @include md{
    @include none;
  }

  .round {
    width           : 100px;
    height          : 100px;
    border-radius   : 50%;
    background-color: $primary;
    @include flex_center;

    p {
      position : absolute;
      top      : 55px;
      z-index  : 1000;
      color    : $white;
      font-size: 1.2rem;
    }
  }
}