/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{
	margin-bottom: 10px;
}
.wrap{
	width: 1200px;
	margin: 0 auto;
}

.header{
	display: flex;
	flex-direction: row-reverse;
	background-color: rgb(243, 243, 243);
	height: 80px;
	margin-bottom: 30px;
}

.font-menu{
	display: flex;
	align-items: center;
}

.font-menu a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	background-color: rgb(89, 89, 90);
	text-align:center;
}

.ad{
	width: 200px;
	height: 100px;
	background-color: rgb(232, 241, 224);
	position: fixed;
	bottom: 0;
	left: 0;
}

.ad p{
	font-size: 17pt;
	text-align: center;
	padding: 30px 0;
}

.ad a{
	padding: 5px;
	display: block;
	background-color: rgb(160, 76, 76);
	text-decoration: none;
	color:#fff;
}

.ad .ad-close:hover{
	background-color: rgb(25, 55, 121);
}

.ad-close{
	background-color: rgb(136, 136, 136);
	position: absolute;
	top: 0;
	right: 0;
}

